{% extends 'base.html.twig' %}

{% block mainPanel %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for('homeUser')}}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path_for('adminViewUserProfile', { 'userId': invoiceData.invoice.userId }) }}">User profile</a></li>
        <li class="breadcrumb-item active"><a href="{{ path_for('userInvoicesAdmin', { 'userId': invoiceData.invoice.userId }) }}">User Invoices and Receipts</a></li>
        <li class="breadcrumb-item active">User Invoices and Receipts</li>
    </ol>

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

    <div class="panel-group">

        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Payments for Invoice #{{ invoiceData.invoice.id }}</strong></div>
            <div class="panel-body">

                    {% if exception == true %}
                        <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert" href="#">×</a>{{ message }}
                        </div>

                    {% endif %}


                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="amountPaid">Amount in {{ invoiceData.invoice.currency }}:</label>
                                <p class="text-muted" style="font-size: smaller">(use "." as decimal separator)</p>
                                <input id="amountPaid" name="amountPaid" type="number" step=0.01 class="form-control" value="{{ invoiceData.outstandingAmount }}">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="paymentMode">Mode:</label>
                                <p class="text-muted" style="font-size: smaller">Wire transfer, Paypal, cash</p>
                                <select class="form-control" id="paymentMode" name="paymentMode">
                                    <option value="WIRE_TRANSFER">Wire Transfer</option>
                                    <option value="CASH">Cash</option>
                                    <option value="PAYPAL">Paypal</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4">

                            <div class="form-group">
                                <label for="note">Note/comments:</label>
                                <textarea class="form-control" rows="2" id="note" name="note"></textarea>
                            </div>

                        </div>
                    </div>

                <input type="hidden" id="invoiceId" value="{{ invoiceData.invoice.id }}">

                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group">
                            <a class="btn btn-success btn-md btn-block" onclick="addPayment()"><span class="fa fa-plus"></span> Add new payment</a>
                            <div id="notification"></div>
                        </div>
                    </div>

                    <div class="col-sm-8">

                        {% if onPaymentActions != NULL %}

                            {% if invoiceData.invoice.actionsExecuted %}
                                <p style="font-size: smaller" class="text-danger">The following actions have already been executed:</p>
                            {% else %}
                                <p style="font-size: smaller" class="text-primary">The following actions will be executed if full amount is paid:</p>
                            {% endif %}

                            {% for onPaymentAction in onPaymentActions %}
                                <pre class="prettyprint"><code>{{ onPaymentAction|json_encode() }}</code></pre>
                            {% endfor %}

                        {% else %}
                            <p style="font-size: smaller" class="text-primary" >This invoice has no actions associated.</p>
                        {% endif %}


                    </div>

                </div>

                <table class="table table-condensed" id="payments" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Date paid</th>
                        <th>Amount paid</th>
                        <th>Mode</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for payment in payments %}
                        <tr id="mainRow_{{ payment.id }}" style="background-color: #cccccc">
                            <td>{{ payment.id }}</td>
                            <td>{{ payment.datePaid | date('jS F Y') }}</td>
                            <td>{{ invoiceData.invoice.currency }} {{ payment.amountPaid }}</td>
                            <td>{{ payment.paymentMode }}</td>
                            <td><a onclick="confirmAndDeletePayment([{{ payment.id }}])"><span class="fa fa-trash-o"> </span></a></td>
                        </tr>
                        <tr id="actionsRow_{{ payment.id }}"style="border: hidden">
                            {% if payment.systemMessage != NULL %}
                            <td colspan="6"><strong>Actions log:</strong><pre class="prettyprint"><code>{{ payment.systemMessage }}</code></pre></td>
                            {% endif %}
                        </tr>
                        <tr id="gatewayInfoRow_{{ payment.id }}" style="border: hidden">
                            {% if payment.paymentGatewayData != NULL %}
                            <td colspan="6"><strong>Payment gateway log:</strong><pre class="prettyprint"><code>{{ payment.paymentGatewayData }}</code></pre></td>
                            {% endif %}
                        </tr>
                        <tr id="noteRow_{{ payment.id }}" style="border: hidden">
                            {% if payment.paymentNote != NULL %}
                            <td colspan="6"><strong>Internal note:</strong><p class="text-muted" style="font-size: smaller">{{ payment.paymentNote }}</p></td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="dialog-confirm" title="Delete payments?" hidden>
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>The payment will be permanently deleted and cannot be recovered. Are you sure?</p>
    </div>

    <!-- JS file  ============================================== -->
    <script src="{{ baseUrl }}/assets/js/memberhipManager.js"></script>

    <script type="application/javascript">

        function deletePayments(ids)
        {
            var params = {
                ids: ids
            };

            $.ajax({url: window.location.protocol + "//" + window.location.host + "/api/"+api_version+"/deletePayments",
                data: JSON.stringify(params),
                type: 'POST',
                success: function(result){


                    for (i=0; i<result.results.length; i++) {

                        console.log(result.results[i]);

                        if( result.results[i].exception == false){
                            $("#notification").notify(
                                    result.results[i].message,
                                    {
                                        position:"right center",
                                        className: "success" }
                            );

                            $('#myModal').modal('hide');
                            //delete table rows
                            $('#mainRow_'+result.results[i].paymentId).remove();
                            $('#actionsRow_'+result.results[i].paymentId).remove();
                            $('#gatewayInfoRow_'+result.results[i].paymentId).remove();
                            $('#noteRow_'+result.results[i].paymentId).remove();

                        }
                        else{
                            $("#notification").notify(
                                    result.results[i].message,
                                    {
                                        position:"right center",
                                        className: "warn" }
                            );
                        }

                    }

                    $('#amountPaid').val(result.newOutstandingAmount);
                    // location.reload();
                }});
        }

        function addPayment(result)
        {
            var params = {
                invoiceId:  $('#invoiceId').val(),
                note:  $('#note').val(),
                amountPaid:  $('#amountPaid').val(),
                paymentMode: $('#paymentMode').val()

            };

            $.ajax({url: window.location.protocol + "//" + window.location.host + "/api/"+api_version+"/addPayment",
                data: JSON.stringify(params),
                type: 'POST',
                success: function(result){

                    console.log(result);

                    if( result.exception == false){
                        $("#notification").notify(
                                result.message,
                                {
                                    position:"right center",
                                    className: "success" }
                        );
                        //add table rows
                        $('#payments').append('<tr class="" id="mainRow_'+result.paymentId+'" style="background-color: #cccccc">' +
                                '<td>'+result.paymentId+'</td>' +
                                '<td>'+result.datePaid+'</td>' +
                                '<td>'+result.currency+' '+result.amountPaid+'</td>' +
                                '<td>'+result.paymentMode+'</td>' +
                                '<td><a onclick="confirmAndDeletePayment(['+result.paymentId+'])"><span class="fa fa-trash-o"> </span></a></td>' +
                                '</tr>' +
                                '<tr id="actionsRow_'+result.paymentId+'" style="border: hidden">' +
                                '<td colspan="6"><strong>Actions log:</strong><pre class="prettyprint"><code>'+result.systemMessage+'</code></pre></td>' +
                                '</tr>' +
                                '<tr id="noteRow_'+result.paymentId+'" style="border: hidden">' +
                                '<td colspan="6"><strong>Internal note:</strong><p class="text-muted" style="font-size: smaller">'+result.paymentNote+'</p></td>' +
                                '</tr>');

                        // add modal dialog

                        $('#amountPaid').val(result.newOutstandingAmount);

                    }
                    else{
                        $("#notification").notify(
                                result.message,
                                {
                                    position:"right center",
                                    className: "warn" }
                        );
                    }

                }});

        }

     function confirmAndDeletePayment(ids)
     {

         $( "#dialog-confirm" ).dialog({
             resizable: false,
             height: "auto",
             width: 400,
             modal: true,
             buttons: {
                 "Delete payment": function() {

                     deletePayments(ids);

                     $( this ).dialog( "close" );
                 },
                 Cancel: function() {
                     $( this ).dialog( "close" );
                 }
             }
         });
     }

    </script>



{% endblock %}