{% extends 'base.html.twig' %}

{% block mainPanel %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for('homeUser')}}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path_for('members') }}">Members</a></li>
        <li class="breadcrumb-item active">Renewals</li>
    </ol>

<div class="panel-group">

    <div class="panel panel-primary">
        <div class="panel-heading"><strong>Membership Renewals</strong></div>
        <div class="panel-body">

            <form data-toggle="validator" role="form" method="post">

                    {% if exception == true %}
                        <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert" href="#">×</a>{{ message }}
                        </div>

                    {% endif %}

                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="form-group">
                            <label>From:</label>
                            <input class="form-control" id="from" name="from" type="date" placeholder="MM/DD/YYYY">

                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="form-group">
                            <label>Until:</label>
                            <input class="form-control" id="until" name="until" type="date" placeholder="MM/DD/YYYY">

                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="form-group">
                            <label></label>
                            <span class="btn btn-success btn-md btn-block" onclick="renewMembership()">Add renewal</span>
                        </div>
                    </div>

                </div>

                <input type="hidden" value="{{ membershipId }}" id="membershipId" name="membershipId">

            </form>

            <table class="table table-condensed" id="renewals" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th><input type="checkbox" id="checkbox_all" ></th>
                    <th>id</th>
                    <th>Valid from</th>
                    <th><div id="validUntil">Valid until</div></th>
                    <th>Date created</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {%  for validity in membershipValidities %}
                    <tr class="" id="tableRow_{{ validity.id }}">
                        <td><input type="checkbox" id="checkbox_{{ validity.id }}" ></td>
                        <td>{{ validity.id }}</td>
                        <td>{{ validity.validFrom | date('jS F Y') }}</td>
                        <td><div id="validUntil_{{ validity.id }}">{{ validity.validUntil | date('jS F Y') }}</div></td>
                        <td>{{ validity.date | date('jS F Y') }}</td>
                        <td><a href="#tableRow_{{ validity.id }}" onclick="deleteValidities([{{ validity.id }}])"><span class="fa fa-trash-o"> </span></a></td>

                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>


    <!-- JS file  ============================================== -->
    <script src="{{ baseUrl }}/assets/js/memberhipManager.js"></script>


{% endblock %}