{% extends 'base.html.twig' %}

{% block mainPanel %}

    <style>
        mark {
            background-color: yellow;
            color: black;
        }
    </style>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for('homeUser')}}">Home</a></li>
        <li class="breadcrumb-item active">Bulk e-mail members</li>
    </ol>
    <div class="se-pre-con"></div>

    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Bulk Email recipients</strong></div>
            <div class="panel-body">

   <!--         <form role="form" method="post">     -->

                <fieldset disabled>

                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <div class="form-group">
                                <label for="membershipTypeId">Membership Type</label>
                                <select class="form-control" id="membershipTypeId" name="membershipTypeId">

                                    <option value="-1">All Membership Types</option>
                                    {% for membershipType in membershipTypes %}
                                        <option value="{{ membershipType.id }}" {% if form.membershipTypeId == membershipType.id  %}selected{% endif %}>{{ membershipType.typeName }}</option>
                                    {% endfor %}

                                </select>
                            </div>

                        </div>

                        <div class="col-xs-6 col-sm-3">
                            <div class="form-group">
                                <label for="membershipGrade">Member Grade</label>
                                <select class="form-control" id="membershipGrade" name="membershipGrade">

                                    <option value="-1">All Grades</option>
                                    {% for memberGrade in memberGrades %}
                                        <option value="{{ memberGrade.id }}" {% if form.membershipGrade == memberGrade.id  %}selected{% endif %}>{{ memberGrade.gradeName }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>


                        <div class="col-xs-6 col-sm-3">

                            <div class="form-group">
                                <label for="validity">Validity:</label>
                                <select class="form-control" id="validity" name="validity">

                                    <option value="-1" {% if form.validity == '-1'  %}selected{% endif %}>All</option>
                                    <option value="0" {% if form.validity == '0'  %}selected{% endif %}>Only Valid Memberships</option>
                                    <option value="1" {% if form.validity == '1'  %}selected{% endif %}>Valid until {{ validity.current_period }}</option>
                                    <option value="2" {% if form.validity == '2'  %}selected{% endif %}>Valid until {{ validity.next_period }}</option>
                                    <option value="3" {% if form.validity == '3'  %}selected{% endif %}>Valid until {{ validity.one_period_ago }}</option>
                                    <option value="4" {% if form.validity == '4'  %}selected{% endif %}>Valid until {{ validity.two_periods_ago }}</option>
                                    <option value="5" {% if form.validity == '5'  %}selected{% endif %}>All Expired</option>
                                    <option value="6" {% if form.validity == '6'  %}selected{% endif %}>Never validated memberships</option>
                                    <option value="7" {% if form.validity == '7'  %}selected{% endif %}>Cancelled memberships</option>

                                </select>
                            </div>

                            <!--
                            <div class="form-group">
                                <label for="expiry_date">Expiry date</label>
                                <select class="form-control" id="expiry_date" name="expiry_date">
                                    <option value="valid">Valid memberships</option>
                                    <option value="expired">All expired memberships</option>
                                    <option value="expired_1year">Expired memberships (1 year or less)</option>
                                    <option value="expired_more_than_2years">Expired memberships (2 years o more)</option>
                                </select>
                            </div>
    -->
                        </div>

                        <div class="col-xs-6 col-sm-3">
                            <div class="form-group">
                                <label for="country">Country:</label>
                                <br>
                                {% if form.country != null %}
                                    <span class="bfh-countries" data-country="{{ form.country }}" data-flags="true"></span>
                                {% else %}
                                    All
                                {% endif %}
                                <input type="hidden" id="country" value="{{ form.country }}">

                            </div>
                        </div>

                    </div>


                    <div class="form-group">
                        <label for="subject">Subject:</label>
                        <div> {{ highlightedSubject|raw }}</div>
                        <input class="form-control" type="hidden" id="subject" name="subject" value="{{ form.subject }}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="replyTo">Reply to:</label>
                        <input class="form-control" type="email" id="replyTo" name="replyTo" value="{{ form.replyTo }}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="emailBoby">Email text:</label>

                        <div id="emailBodyView">

                            {{ highlightedBody|raw }}

                        </div>
                        <hr>

                        <input type="hidden"class="form-control" id="emailBody" name="emailBody" value="{{ form.emailBody }}" readonly>

                    </div>

                </fieldset>

                    <!-- Table Starts here  -->
                    <div class="alert alert-info" id="message" hidden="true"></div>

                    <button id="button_sendBulkMailMembers" type="submit" class="btn btn-success">Send e-mail(s) now</button>

                    <a href="{{ path_for('createBulkMailMembersAdmin') }}"><button id="button_return" class="btn btn-primary" style="visibility:hidden;">Send a new e-mail</button></a>

                    <table class="table table-condensed" id="recipients" cellspacing="0" width="100%" style="font-size: smaller">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="checkbox_all" checked class="select_all_recipient"></th>
                            <th>Member ID (type)</th>
                            <th>Country</th>
                            <th>Expiry date</th>
                            <th>Representative</th>
                            <th>Email</th>
                            <th></th>

                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
       <!--           </form>   -->
            </div>
        </div>
    </div>

    <!-- Bulk email functions  ============================================== -->
    <script src="{{ baseUrl }}/assets/js/bulkEmailFunctions.js"></script>

    <script type="application/javascript">
        $(document).ready(getFilteredMembers());
    </script>


{% endblock %}