{% extends 'base.html.twig' %}

{% block mainPanel %}


<div class="panel-group">

    <h2>Welcome, {{ userName }}!</h2>

    <div class="panel panel-primary">
        <div class="panel-heading"><strong>Membership</strong></div>
        <div class="panel-body">
            <li><a href="{{ path_for('yourMembershipAdmin')}}">Your Membership</a></li>
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading"><strong>Functions available for Administrators</strong></div>
        <div class="panel-body">
            <li><a href="{{ baseUrl }}/admin/users">Manage Registered Users</a>, <a href="">Register new User</a></li>
            <li><a href="">Manage Members</a>, <a href="">Register new member</a></li>
            <li><a href="">System Settings</a></li>
            <li><a href="">Manage Membership types</a></li>
            <li><a href="{{ path_for('documentsAdmin')}}">Manage documents for members</a></li>
            <li><a href="{{ path_for('createBulkMailAdmin')}}">Send Bulk e-mails</a></li>
        </div>
    </div>



 </div>

{% endblock %}