{% extends 'base.html.twig' %}

{% block mainPanel %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for('homeUser')}}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path_for('adminViewUserProfile', { 'userId': user.id }) }}">User profile</a></li>
        <li class="breadcrumb-item active">User Invoices and Receipts</li>
    </ol>
    <div class="se-pre-con"></div>

    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">Invoices and receipts</div>
            <div class="panel-body">

                {% if exception == true %}
                    <div class="alert alert-danger">
                        <a class="close" data-dismiss="alert" href="#">×</a>{{ message }}
                    </div>
                {% endif %}

                {% if user == NULL %}

                    <div class="row">
                        <div class="col-xs-6 col-sm-9">

                            <p>Overview of all invoices and receipts.
                        </div>

                        <div class="col-xs-6 col-sm-3">
                            <div class="form-group">


                            </div>
                        </div>
                    </div>

                {% else %}

                    <div class="row">
                        <div class="col-xs-6 col-sm-9">
                            <strong>{{ user.title }} {{ user.first_name }} {{ user.last_name }}</strong>
                            <br>{{ user.institution }}
                            <br>{{ user.street }} {{ user.zip }} {{ user.city }}, <span class="bfh-countries" data-country="{{ user.country }}" data-flags="true"></span>
                            <br>E-mail: <a href="mailto:{{ user.email_1 }}">{{ user.email_1 }}</a>
                            <p class="text-info">Manage invoices, receipts and payments.</p>
                        </div>

                        <div class="col-xs-6 col-sm-3">
                            <div class="form-group">
                                <a  href="{{ path_for('invoiceAdmin', {'userId': user.id}) }}" class="btn btn-lg btn-success btn-block" type="submit"><span class="fa fa-plus"></span> New Invoice</a>
                            </div>
                        </div>
                    </div>

                {% endif %}

                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="" id="message" hidden></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <div class="text-info text-right">Total amount invoices:</div>
                    </div>
                    <div class="col-xs-9 col-sm-9">
                        <div class="text-info"><strong>{{ systemInfo.settings.systemCurrency }} {{ formatAmount(totalAmount) }}</strong> </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <div class="text-success text-right">Total amount received:</div>
                    </div>
                    <div class="col-xs-9 col-sm-9">
                        <div class="text-success"><strong>{{ systemInfo.settings.systemCurrency }} {{ formatAmount(totalReceived) }}</strong> </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <div class="text-danger text-right">Total amount open:</div>
                    </div>
                    <div class="col-xs-9 col-sm-9">
                        <div class="text-danger"><strong>{{ systemInfo.settings.systemCurrency }} {{ formatAmount(totalAmount - totalReceived) }}</strong> </div>
                    </div>
                </div>

                <hr>

                <h4>Invoices and receipts:</h4>

                <table class="display" id="openInvoices" cellspacing="0" width="100%" style="font-size: smaller">
                    <thead>
                    <tr>
                        <th>Invoice ID</th>
                        <th>Name</th>
                        <th>Date due</th>
                        <th>AmountPaid</th>
                        <th>Open amount</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    {%  for invoice in openInvoicesArray %}

                        <tr  {% if invoice.invoice.dueDate < date("now") %} class="danger" {% endif %} id="tableRow_{{ invoice.invoiceId }}">
                            <td>{{ invoice.invoiceId }}</td>
                            <td>{{ invoice.invoice.billingName }}</td>
                            <td>
                                {% if invoice.invoice.dueDate < date("now") %}
                                    <div class="text text-danger"> {{ invoice.invoice.dueDate | date('jS F Y') }}</div>
                                {% else %}
                                    <div class="text text-info"> {{ invoice.invoice.dueDate | date('jS F Y') }}</div>
                                {% endif %}
                            </td>
                            <td>{{ invoice.invoiceCurrency }} {{ formatAmount(invoice.amountPaid) }}</td>
                            <td>{{ invoice.invoiceCurrency }} {{ formatAmount(invoice.outstandingAmount) }}</td>
                            <td><div class="text-danger">open</div></td>
                            <td><a href="{{ path_for('invoicePayments', { 'invoiceId': invoice.invoiceId }) }}">payments</a></td>
                            <td><a href="{{ path_for('singleInvoiceAdmin', { 'invoiceId': invoice.invoiceId }) }}"><span class="fa fa-eye"></span></a></td>
                            <td><a href="{{ path_for('invoiceAdmin', { 'userId': invoice.invoice.userId , 'invoiceId': invoice.invoiceId }) }}">edit</a></td>
                            <td>
                                <a href="#tableRow_{{ invoice.invoiceId }}" onclick="confirmInvoiceDelete({{ invoice.invoiceId }})" class="fa fa-trash"></a>
                            </td>
                        </tr>
                    {% endfor %}

                    {%  for invoice in closedInvoicesArray %}

                        <tr id="tableRow_{{ invoice.invoiceId }}" class="">
                            <td>{{ invoice.invoiceId }}</td>
                            <td>{{ invoice.invoice.billingName }}</td>
                            <td>
                                {{ invoice.invoice.dueDate | date('jS F Y') }}
                            </td>
                            <td>{{ invoice.invoiceCurrency }} {{ formatAmount(invoice.amountPaid) }}</td>
                            <td>{{ invoice.invoiceCurrency }} {{ formatAmount(invoices.outstandingAmount) }}</td>
                            <td><div class="text-success">paid</div></td>
                            <td><a href="{{ path_for('invoicePayments', { 'invoiceId': invoice.invoiceId }) }}">payments</a></td>
                            <td><a href="{{ path_for('singleInvoiceAdmin', { 'invoiceId': invoice.invoiceId }) }}"><span class="fa fa-eye"></span></a></td>
                            <td><a href="{{ path_for('invoiceAdmin', { 'userId': invoice.invoice.userId , 'invoiceId': invoice.invoiceId }) }}">edit</a></td>
                            <td>
                                <a href="#tableRow_{{ invoice.invoiceId }}" onclick="confirmInvoiceDelete({{ invoice.invoiceId }})" class="fa fa-trash"></a>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div id="dialog-confirm_delete" title="Delete Invoice?" hidden>
        <p class="text-danger"><i class="ui-icon ui-icon-alert"></i> Deleted Invoices cannot be recovered. Are you sure you want to proceed?</p>
    </div>

    <script src="{{ baseUrl }}/assets/DataTables-1.10.11/media/js/jquery.dataTables.js"></script>
    <script src="{{ baseUrl }}/assets/js/invoiceManagement.js"></script>

    <script>

        $(document).ready(function() {
            $('#openInvoices').DataTable();
            $('#closedInvoices').DataTable();
        } );

    </script>


{% endblock %}