{% extends 'base.html.twig' %}

{% block mainPanel %}

    <div class="panel-group">

        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Register new user</strong></div>
            <div class="panel-body">

                <div class="well">
                <form data-toggle="validator" role="form" method="post">

                    {% if form_submission == true %}

                        {% if exception == true %}
                            <div class="alert alert-danger">
                                <a class="close" data-dismiss="alert" href="#">×</a>{{ message }}
                            </div>
                        {% else %}
                            <div class="alert alert-success">
                                <a class="close" data-dismiss="alert" href="#">×</a>{{ message }}
                            </div>
                        {% endif %}

                    {% else %}

                        {% if exception == true %}
                            <div class="alert alert-danger">
                                <a class="close" data-dismiss="alert" href="#">×</a>{{ message }}
                            </div>
                        {% endif %}
                    {% endif %}

                    <div class="row">

                        <div class="col-xs-6 col-md-2">
                            <p class="text-right">
                                <label class="control-label" for="department"></label>
                            </p>
                        </div>

                        <div class="col-xs-6 col-md-2">
                            <div class="form-group {% if form.title.error == true %}has-error{% endif %}">
                                <label class="col-sm-4 control-label" for="first_name">Title</label>
                                <select required="required" value="{{ form.title.value }}" class="form-control" name="title" id="title">
                                    <option {% if form.title.value == 'Dr.' %} selected="selected" {% endif %}>Dr.</option>
                                    <option {% if form.title.value == 'Mrs.' %} selected="selected" {% endif %}>Mrs.</option>
                                    <option {% if form.title.value == 'Mr.' %} selected="selected" {% endif %}>Mr.</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <div class="form-group {% if form.first_name.error == true %}has-error{% endif %}">
                                <label class="control-label" for="first_name">First Name</label>
                                <input required="required" type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name" value="{{ form.first_name.value }}" tabindex="1">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group {% if form.last_name.error == true %}has-error{% endif %}">
                                <label class="control-label" for="last_name">Last Name</label>
                                <input required="required" type="text" name="last_name" id="last_name" class="form-control " placeholder="Last Name" value="{{ form.last_name.value }}" tabindex="2">
                            </div>
                        </div>
                    </div>

                    <div class="form-group {% if form.position.error == true %}has-error{% endif %}">
                        <div class="row">
                            <div class="col-xs-6 col-md-2"><p class="text-right"><label class="control-label" for="position">Position</label></p></div>
                            <div class="col-xs-12 col-md-10">
                                <input type="text" name="position" id="position" class="form-control " placeholder="position" value="{{ form.position.value }}" tabindex="3">
                            </div>
                    </div>
                    </div>

                    <div class="form-group {% if form.institution.error == true %}has-error{% endif %}">
                        <div class="row">
                            <div class="col-xs-6 col-md-2"><p class="text-right"><label class="control-label" for="institution">Institution</label></p></div>
                            <div class="col-xs-12 col-md-10">
                                <input type="text" name="institution" id="institution" class="form-control " placeholder="Institution" value="{{ form.institution.value }}" tabindex="3">
                            </div>
                        </div>
                    </div>

                    <div class="form-group {% if form.department.error == true %}has-error{% endif %}">
                        <div class="row">
                            <div class="col-xs-6 col-md-2">
                                <p class="text-right">
                                    <label class="control-label" for="department">Department</label>
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-10">
                                <input type="text" name="department" id="department" class="form-control " placeholder="Department" value="{{ form.department.value }}" tabindex="3">
                            </div>
                        </div>
                    </div>

                    <div class="form-group {% if form.street.error == true %}has-error{% endif %}">
                        <div class="row">
                            <div class="col-xs-6 col-md-2">
                                <p class="text-right">
                                    <label class="control-label" for="street">Street</label>
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-10">
                                <input required type="text" name="street" id="street" class="form-control " placeholder="street" value="{{ form.street.value }}" tabindex="3">
                            </div>
                        </div>
                    </div>

                    <div class="form-group {% if form.street.error == true %}has-error{% endif %}">
                        <div class="row">
                            <div class="col-xs-6 col-md-2">
                                <p class="text-right">
                                    <label class="control-label" for="">Country, city and ZIP</label>
                                </p>
                            </div>
                            <div class="col-xs-6 col-md-4">

                                <div class="form-group {% if form.country.error == true %}has-error{% endif %}">
                                    <div  id="country" class="bfh-selectbox bfh-countries" data-country="{{ form.country.value }}"  data-name="country" data-flags="true">
                                        <input type="hidden" value="">
                                        <a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#">
                                            <span class="bfh-selectbox-option input-medium" data-option=""></span>
                                            <b class="caret"></b>
                                        </a>
                                        <div class="bfh-selectbox-options">
                                            <input type="text" class="bfh-selectbox-filter">
                                            <div role="listbox">
                                                <ul role="option">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-6 col-md-3">

                                <div class="form-group {% if form.city.error == true %}has-error{% endif %}">
                                    <input required="required" type="text" name="city" id="city" class="form-control " placeholder="City" value="{{ form.city.value }}" tabindex="5">
                                </div>

                            </div>
                            <div class="col-xs-6 col-md-3">

                                <div class="form-group {% if form.zip.error == true %}has-error{% endif %}">
                                    <input type="text" name="zip" id="zip" class="form-control " placeholder="ZIP code" value="{{ form.zip.value }}" tabindex="6">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-group {% if form.website.error == true %}has-error{% endif %}">
                        <div class="row">
                            <div class="col-xs-6 col-md-2">
                                <p class="text-right">
                                    <label for="website">Website</label>
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-10">
                                <input type="text" name="website" id="street" class="form-control " placeholder="" value="{{ form.website.value }}" tabindex="3">
                            </div>
                        </div>
                    </div>

                    <div class="form-group {% if form.phone.error == true %}has-error{% endif %}">
                        <div class="row">
                            <div class="col-xs-6 col-md-2">
                                <p class="text-right">
                                    <label for="phone">Phone</label>
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-10">
                                <input type="text" id="phone" name="phone" class="form-control" value="{{ form.phone.value }}">
                            </div>
                        </div>
                    </div>

                        <div class="row">
                            <div class="col-xs-6 col-md-2">
                                <p class="text-right">
                                    <label class="control-label" for="">E-mail Addresses</label>
                                </p>
                            </div>
                            <div class="col-xs-6 col-md-5">

                                <div class="form-group {% if form.email_1.error == true %}has-error{% endif %}">
                                    <input type="email" name="email_1" id="email_1" class="form-control " placeholder="Primary E-mail" value="{{ form.email_1.value }}" tabindex="5" data-error="This e-mail address is invalid" required />
                                    <div class="help-block with-errors"></div>
                                </div>

                            </div>
                            <div class="col-xs-6 col-md-5">

                                <div class="form-group {% if form.email_2.error == true %}has-error{% endif %}">
                                    <input type="email" name="email_2" id="email_2" class="form-control " placeholder="Secondary E-mail" value="{{ form.email_2.value }}" tabindex="6" data-error="This e-mail address is invalid">
                                    <div class="help-block with-errors"></div>
                                </div>

                            </div>
                        </div>

                    <div class="form-group {% if form.send_confirmation_mail.error == true %}has-error{% endif %}">
                        <div class="row">
                            <div class="col-xs-6 col-md-2">
                                <p class="text-right">
                                    <label class="control-label" for="send_confirmation_mail">Notify user?</label>
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-10">
                                <input type="checkbox" id="send_confirmation_mail" name="send_confirmation_mail" value="false">
                                Send welcome e-mail and password create link to new user
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6 col-md-2">
                                <p class="text-right">

                                </p>
                            </div>
                            <div class="col-xs-12 col-md-10">
                                <button type="submit" class="btn btn-success">Save Profile</button>
                            </div>
                        </div>
                    </div>

                </form>
                </div>

            </div>
        </div>

    </div>

{% endblock %}