{% extends 'base.html.twig' %}

{% block mainPanel %}

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

    <div class="panel-group">

        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Payments for Invoice #{{ invoiceData.invoice.id }}</strong></div>
            <div class="panel-body">

                    {% if exception == true %}
                        <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert" href="#">×</a>{{ message }}
                        </div>

                    {% endif %}

                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="amountPaid">Amount in {{ invoiceData.invoice.currency }}:</label>
                                <p class="text-muted" style="font-size: smaller">(use "." as decimal separator)</p>
                                <input id="amountPaid" name="amountPaid" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="mode">Mode:</label>
                                <p class="text-muted" style="font-size: smaller">Wire transfer, Paypal, cash</p>
                                <select class="form-control" id="mode" name="mode">
                                    <option>Wire Transfer</option>
                                    <option>Cash</option>
                                    <option>Paypal</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4">

                            <div class="form-group">
                                <label for="note">Note/comments:</label>
                                <textarea class="form-control" rows="2" id="note" name="note"></textarea>
                            </div>

                        </div>
                    </div>

                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group">
                            <a class="btn btn-success btn-md btn-block" onclick=""><span class="fa fa-plus"></span> Add new payment</a>
                            <div id="notification"></div>
                        </div>
                    </div>

                    <div class="col-sm-8">

                        <p class="text-primary" >To add a new invoice payment, enter the amount, and payment mode. Please note that "on payment actions" (if any) will be executed.</p>

                    </div>

                </div>

                <table class="table table-condensed" id="renewals" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Date paid</th>
                        <th>Amount paid</th>
                        <th>Mode</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for payment in payments %}
                        <tr id="mainRow_{{ payment.id }}" style="background-color: #cccccc ">
                            <td>{{ payment.id }}</td>
                            <td>{{ payment.datePaid | date('jS F Y') }}</td>
                            <td>{{ invoiceData.invoice.currency }} {{ payment.amountPaid }}</td>
                            <td>{{ payment.paymentMode }}</td>
                            <td><a href="" data-toggle="modal" data-target="#confirm_delete_{{ payment.id }}"><span class="fa fa-trash-o"> </span></a></td>
                        </tr>
                        <tr id="actionsRow_{{ payment.id }}"style="border: hidden">
                            {% if payment.systemMessage != NULL %}
                            <td colspan="6"><strong>Actions log:</strong><pre class="prettyprint"><code>{{ payment.systemMessage }}</code></pre></td>
                            {% endif %}
                        </tr>
                        <tr id="gatewayInfoRow_{{ payment.id }}" style="border: hidden">
                            {% if payment.paymentGatewayData != NULL %}
                            <td colspan="6"><strong>Payment gateway log:</strong><pre class="prettyprint"><code>{{ payment.paymentGatewayData }}</code></pre></td>
                            {% endif %}
                        </tr>
                        <tr id="noteRow_{{ payment.id }}" style="border: hidden">
                            {% if payment.paymentNote != NULL %}
                            <td colspan="6"><strong>Internal note:</strong><p class="text-muted" style="font-size: smaller">{{ payment.paymentNote }}</p></td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {%  for payment in payments %}
    <div class="modal fade" id="confirm_delete_{{ payment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Delete payment?</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">
                        This payment will be permanently deleted. This action is irreversible. Are you sure you want to proceed?
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" data-dismiss="modal">Cancel</a>
                    <a  class="btn btn-danger" onclick="deletePayments([{{ payment.id }}])">Yes, delete payment</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    {% endfor %}

    <!-- JS file  ============================================== -->
    <script src="{{ base_url() }}/assets/js/memberhipManager.js"></script>

    <script type="application/javascript">

        function deletePayments(ids)
        {
            var params = {
                ids: ids
            };

            $.ajax({url: window.location.protocol + "//" + window.location.host + "/api/"+api_version+"/deletePayments",
                data: JSON.stringify(params),
                type: 'POST',
                success: function(result){


                    for (i=0; i<result.results.length; i++) {

                        console.log(result.results[i]);

                        if( result.results[i].exception == false){
                            $("#notification").notify(
                                    result.results[i].message,
                                    {
                                        position:"top center",
                                        className: "success" }
                            );

                            $('#myModal').modal('hide');
                            //delete table rows
                            $('#mainRow_'+result.results[i].validityId).remove();
                            $('#actionsRow_'+result.results[i].validityId).remove();
                            $('#gatewayInfoRow_'+result.results[i].validityId).remove();
                            $('#noteRow_'+result.results[i].validityId).remove();

                        }
                        else{
                            $("#notification").notify(
                                    result.results[i].message,
                                    {
                                        position:"top center",
                                        className: "warn" }
                            );
                        }

                    }
                    // location.reload();


                }});
        }

        function renewMembership()
        {
            var params = {
                membershipId:  $('#membershipId').val(),
                from:  $('#from').val(),
                until:  $('#until').val()

            };

            $.ajax({url: window.location.protocol + "//" + window.location.host + "/api/"+api_version+"/renewMembership",
                data: JSON.stringify(params),
                type: 'POST',
                success: function(result){

                    console.log(result);

                    if( result.exception == false){
                        $("#validUntil").notify(
                                result.message,
                                {
                                    position:"top center",
                                    className: "success" }
                        );
                        //add table row
                        $('#renewals').append('<tr class="" id="tableRow_'+result.id+'">' +
                                '<td><input type="checkbox" id="checkbox_'+result.id+'"></td>' +
                                '<td>'+result.id+'</td>' +
                                '<td>'+result.validFrom+'</td>' +
                                '<td><div id="validUntil_'+result.id+'">'+result.validUntil+'</div></td>' +
                                '<td>'+result.dateCreated+'</td>' +
                                '<td><a href="#" onclick="deleteValidities(['+result.id+'])"><span class="fa fa-trash-o"> </span></a></td>' +
                                ' </tr>');
                    }
                    else{
                        $("#validUntil").notify(
                                result.message,
                                {
                                    position:"top center",
                                    className: "warn" }
                        );
                    }

                }});

        }

    </script>



{% endblock %}