{% extends 'base.html.twig' %}

{% block mainPanel %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for('homeUser')}}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path_for('newslettersAdmin')}}">Newsletters</a></li>
        <li class="breadcrumb-item active">Edit newsletter</li>
    </ol>

    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Create/Edit Newsletter</strong></div>
            <div class="panel-body">

                <div class="row">

                    <div class="col-xs-12 col-sm-12">
                        {% if isPost == true %}

                            {% if exception == true %}

                                <div class="alert alert-danger alert-dismissable fade in">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>{{ message }}</strong>
                                </div>

                            {% else %}

                                <div class="alert alert-success alert-dismissable fade in">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>{{ message }}</strong>
                                </div>

                            {% endif %}

                        {% else %}


                        {% endif %}
                        <p class="text-info">Create and/or edit a newsletter.</p>
                    </div>
                </div>

                <form data-toggle="validator" role="form" method="post" id="newsletter">

                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" name="title" id="title" class="form-control input-sm" placeholder="" value="{{ newsletter.title }}" tabindex="1" required>
                    </div>

                    <div class="form-group">
                        <label for="foreword">Foreword:</label>
                        <textarea  class="form-control input-sm" rows="5" id="foreword" name="foreword" minlength="50" maxlength="1500" tabindex="3">{{ newsletter.foreword }}</textarea>
                    </div>

                    {% if createNewsletter == false %}
                    <div class="row">
                            <div class="col-xs-12 col-sm-3">

                                <select style="background-color: lightgray" name="published" id="published" class="form-control input-sm" onchange="this.form.submit()">
                                    <option value="0" {% if newsletter.published == false %}selected{% endif %}>Unpublished</option>
                                    <option value="1" {% if newsletter.published %}selected{% endif %}>Published</option>
                                </select>
                                Created on {{ newsletter.createDate | date('jS F Y')}}
                            </div>

                        <div class="col-xs-12 col-sm-2">
                            {% if userRole == 'ROLE_ADMIN' %}
                            <p class="text-danger" align="right">Approval by Admin:</p>
                            {% endif %}
                        </div>

                        <div class="col-xs-12 col-sm-3">

                            {% if userRole == 'ROLE_ADMIN' %}

                            <select style="background-color: lightgray" name="approved" id="approved" class="form-control input-sm" onchange="this.form.submit()">
                                <option value="1" {% if newsletter.approved == true %}selected{% endif %}>Approved</option>
                                <option value="0" {% if newsletter.approved == false %}selected{% endif %}>Pending Approval</option>
                            </select>
                            {% endif %}
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <p class="text-info text-right"><a href="{{ path_for('addNewsletterArticleEditor', { 'newsletterId': newsletter.id })}}">Add new article <i class="glyphicon glyphicon-plus"></i></a></p>
                            <p class="text-info text-right"><a target="_blank" href="{{ path_for('newsletterPreview', { 'key': newsletter.publicKey }) }}">Preview Newsletter <span class="fa fa-eye"></span></a></p>
                            <p class="text-info text-right"><a target="_blank" href="{{ path_for('publicNewsletter', { 'key': newsletter.publicKey }) }}">Public link <span class="fa fa-share-alt"></span></a></p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <h4>Newsletter articles:</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="" id="message" hidden></div>
                        </div>
                    </div>

                    <table class="table" id="articles" cellspacing="0" width="100%" style="font-size: smaller">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>User</th>
                            <th></th>
                            <th>Order</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {%  for article in articles %}
                            <tr id="tr_{{ article.id }}" {% if article.newsletterId != -1 %} class="success" {% endif %}>
                                <td><strong>{{ article.id }}</strong></td>
                                <td class="col-md-4">{{ article.title }}</td>
                                <td class="col-md-2">{{ article.createDate | date('d-m-Y')}}</td>
                                <td><a href="{{ path_for('adminViewUserProfile', { 'userId': article.userId }) }}">{{ article.user_name }}</a></td>
                                <td><div id="notification_{{ article.id }}"><a href="{{ path_for('newsletterArticleAdmin', { 'articleId': article.id }) }}" target="_blank">open</a></div></td>
                                <td>

                                    <input class="form-control input-sm" type="number" name="articleOrder_{{ article.id }}" value="{{ article.articleOrder }}">

                                </td>
                                <td>
                                    <select id="{{ article.id }}" class="form-control input-sm" onchange="assignRemoveArticle({{ newsletter.id }}, [{{ article.id }}])">
                                        <option value="false"  {% if article.newsletterId == -1 %} selected {% endif %}><strong>Unassigned</strong></option>
                                        <option  value="true" {% if article.newsletterId == newsletter.id %} selected {% endif %}>Assigned</option>
                                    </select>
                                </td>
                                <td><a href="#tr_{{ article.id }}" class="fa fa-trash-o" onclick="confirmArticleDelete({{ article.id }})"> </a></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    {% endif %}

                    <div class="form-group">
                        <label for="comments">Internal comments (will not be published):</label>
                        <textarea  class="form-control" rows="2" id="comments" name="comments" tabindex=5">{{ newsletter.comments }}</textarea>
                    </div>

                    <button type="submit" class="btn btn-success">Save Newsletter</button>
                </form>
            </div>
        </div>
    </div>

    <div id="dialog-confirm_delete" title="Delete article?" hidden>
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Deleted articles cannot be recovered Are you sure you want to proceed?</p>
    </div>

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
    <script src="{{ baseUrl }}/assets/js/newsletterManagement.js"></script>
    <script>

        tinymce.init({ selector:'#foreword' });

    </script>


{% endblock %}