{% extends 'base.html.twig' %}

{% block mainPanel %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for('homeUser')}}">Home</a></li>
        <li class="breadcrumb-item active">Newsletters</li>
    </ol>
    <div class="se-pre-con"></div>

    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Manage Users and Members</strong></div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-xs-6 col-sm-9">
                        <p class="text-info">Manage newsletters.</p>
                    </div>

                    <div class="col-xs-6 col-sm-3">
                        <div class="form-group">

                            <a href="{{ path_for('createNewsletter') }}" class="btn btn-lg btn-success btn-block" type="submit"><span class="fa fa-plus"></span> Create newsletter</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="" id="message" hidden></div>
                    </div>
                </div>

                <table class="display" id="newsletters" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Hits</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Date created</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for newsletter in newsletters %}
                        <tr class="" id="tr_{{ newsletter.id }}">
                            <td>{{ newsletter.id }}</td>
                            <td>{{ newsletter.hits }}</td>
                            <td class="col-md-4">{{ newsletter.title }}</td>
                            <td>
                                {% if newsletter.published %}
                                    <p class="text-success">Published</p>
                                {% else %}
                                    <p class="text-danger">Unpublished</p>
                                {% endif %}
                            </td>
                            <td>{{ newsletter.createDate | date('jS F Y')}}</td>
                            <td>
                                {% if newsletter.published %}
                                    {% if newsletter.approved %}
                                        <a href="{{ path_for('createBulkMailNewsletterEditorMode', { 'key': newsletter.publicKey }) }}"><span class="fa fa-envelope"></span> send</a>
                                    {% else %}
                                        <p class="text-danger">Pending Approval</p>
                                    {% endif %}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td><a target="_blank" href="{{ path_for('newsletterAdmin', { 'newsletterId': newsletter.id }) }}">Edit</a></td>
                            <td><a target="_blank" href="{{ path_for('newsletterPreview', { 'key': newsletter.publicKey }) }}"><span class="fa fa-eye"></span></a></td>
                            <td>
                                {% if newsletter.published == false %}
                                    <a href="#tr_{{ newsletter.id }}" class="fa fa-trash" onclick="confirmNewsletterDelete({{ newsletter.id}})"></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>


            </div>
        </div>
    </div>

    <div id="dialog-confirm_delete" title="Delete Newsletter?" hidden>
        <p class="text-danger"><i class="ui-icon ui-icon-alert"></i> Deleted Newsletters cannot be recovered. Are you sure you want to proceed?</p>
    </div>

    <script src="/assets/DataTables-1.10.11/media/js/jquery.dataTables.js"></script>
    <script src="{{ baseUrl }}/assets/js/newsletterManagement.js"></script>

    <script>

        $(document).ready(function() {
            $('#newsletters').DataTable();
        } );



    </script>


{% endblock %}