{% extends 'base.html.twig' %}

{% block mainPanel %}

    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Manage Users and Members</strong></div>
            <div class="panel-body">


                <table class="display" id="users" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Country</th>
                        <th>Email</th>
                        <th>Member</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for user in users %}
                        <tr class="">
                            <td>{{ user.id }}</td>
                            <td>{{ user.lastName }}, {{ user.firstName }}</td>
                            <td><span class="bfh-countries" data-country="{{ user.country }}" data-flags="true"></span></td>
                            <td>{{ user.email1 }}</td>
                            <td>{% if user.member == true %}<spam class="fa fa-star"> Member</spam> {% else %} not a member {% endif %}</td>
                            <td>
                                <p style="font-size: smaller"><a href="{{ path_for('adminViewUserProfile', { 'userId': user.id }) }}">Edit user</a><br>
                                    <a href="{{ path_for('userInvoicesAdmin', { 'userId': user.id }) }}"> Invoices and receipts</a></p>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>


            </div>
        </div>
    </div>

    <script src="{{ baseUrl }}/assets/DataTables-1.10.11/media/js/jquery.dataTables.js"></script>

    <script>

        $(document).ready(function() {
            $('#users').DataTable();
        } );

    </script>


{% endblock %}