{% extends 'base.html.twig' %}

{% block mainPanel %}

    <!-- Bootstrap core CSS -->
    <link href="{{ baseUrl }}/assets/form-helper/css/bootstrap-formhelpers.min.css" rel="stylesheet">

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ baseUrl }}/assets/form-helper/js/bootstrap-formhelpers.min.js"></script>
    <script src="{{ baseUrl }}/assets/bootstrap-validator/validator.min.js"></script>

    <!-- progress Steps CSS -->
    <link href="{{ baseUrl }}/assets/css/progressSteps.css" rel="stylesheet">

    <div class="row bs-wizard" style="border-bottom:0;">

        <div class="col-xs-3 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum">Step 1</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Your Membership</div>
        </div>

        <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Step 2</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Billing Information</div>
        </div>

        <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Step 3</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Confirm Order and agree with terms</div>
        </div>

        <div class="col-xs-3 bs-wizard-step active"><!-- active -->
            <div class="text-center bs-wizard-stepnum">Step 4</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Confirmation and Payment</div>
        </div>

    </div>

    <div class="panel-group">

        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Confirmation</strong></div>
            <div class="panel-body">

                {% if exception == false %}

                    <p class="text-center text-muted"><img height="100px" src="{{ baseUrl }}/assets/images/checked.png"></p>

                    <p class="text-center text-muted"><strong>Thank you!</strong></p>
                    <p class="text-center text-muted">Your membership registration was succesfully completed!</p>
                    <p class="text-center text-muted">An invoice with the number <strong>Invoice Nr. {{ resultsGenInvoice.invoiceId }}</strong> was generated.</p>
                    <p class="text-center text-muted">Please note that your membership will be activated after we receive your membership fee.</p>
                    <p class="text-center text-muted"><a  class="btn btn-primary" href="{{ path_for('singleInvoice', { 'invoiceId': resultsGenInvoice.invoiceId }) }}">View and pay Invoice #{{ resultsGenInvoice.invoiceId }}</a> </p>

                {% else %}

                    <div class="alert alert-success">
                        {{ message }}
                    </div>

                {% endif %}

        </div>

    </div>

{% endblock %}

