{% extends 'base.html.twig' %}

{% block mainPanel %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for('homeUser')}}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path_for('selectMembership')}}">Memberships</a></li>
        <li class="breadcrumb-item active">Manage Membership</li>
    </ol>

    <div class="panel-group">

        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Your Membership</strong></div>
            <div class="panel-body">

                {% if form_submission == true %}

                    {% if exception == true %}
                        <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert" href="#">×</a>{{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-success">
                            <a class="close" data-dismiss="alert" href="#">×</a>{{ message }}
                        </div>
                    {% endif %}

                {% else %}

                    {% if exception == true %}
                        <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert" href="#">×</a>{{ message }}
                        </div>
                    {% endif %}
                {% endif %}

                    <div class="well">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="{{ baseUrl }}/assets/images/membership_logo.png" alt="membership">
                            </div>
                            <div class="media-body">

                                <h3 class="media-heading"><strong>Member ID: </strong>{{  member.membership.memberId }}</h3>

                                {% if member.membership.cancelled %}

                                    <p class="text-danger">This membership has been cancelled. You can reactivate your membership by renewing it.</p>

                                {% else %}

                                    {%  if member.memberGrade.gradeName != null %}

                                        <h3><img src="{{ baseUrl }}/assets/images/memberStatus_small.png" alt="..."> {{ member.memberGrade.gradeName }}</h3>

                                    {% endif %}

                                    <h4 class="media-heading"><strong>Type: </strong>{{  member.membershipTypeName }}</h4>


                                    {% if member.valid == true %}

                                        {% if member.validity.validUntil != null %}
                                            <p class="text-info"><strong>Valid Until: </strong>{{ member.validity.validUntil | date('jS F Y') }}</p>
                                        {% else %}
                                            <p class="text-info"><strong>Valid Until: </strong> n/a</p>
                                        {% endif %}

                                    {% else %}

                                        {% if member.validity.validUntil != null %}
                                            <p class="text-danger">This membership expired on {{ member.validity.validUntil | date('jS F Y') }}</p>
                                        {% else %}
                                            <p class="text-danger"> This membership is not active</p>
                                        {% endif %}
                                    {% endif %}

                                {% endif %}


                            </div>
                        </div>
                    </div>

                <form data-toggle="validator" role="form" method="post" action="{{ path_for('manageMembership', {'memberId': member.membership.memberId}) }}">

                <div class="row show-grid">
                    <div class="col-xs-6 col-md-9">

                        <div class="row show-grid">
                            <div class="col-xs-6 col-md-3"><p class="text-right"><strong>Membership owner:</strong></p></div>
                            <div class="col-xs-12 col-md-6">{{ member.user.title }} {{ member.user.first_name }} {{ member.user.last_name }}
                                (<a href="{{ path_for('userProfile')}}">Edit user profile</a>)
                            </div>
                        </div>

                        <div class="row show-grid">
                            <div class="col-xs-6 col-md-3"><p class="text-right"><strong>Owner's Institution:</strong></p></div>
                            <div class="col-xs-12 col-md-6">{{ member.user.institution }}</div>
                        </div>

                        <div class="row show-grid">
                            <div class="col-xs-6 col-md-3"><p class="text-right"><strong>E-mail Address:</strong></p></div>
                            <div class="col-xs-12 col-md-9"><a href="mailto:{{ member.user.email_1 }}">{{ member.user.email_1 }}</a></div>
                        </div>

                        <div class="row show-grid">
                            <div class="col-xs-6 col-md-3"><p class="text-right"><strong>Address:</strong></p></div>
                            <div class="col-xs-12 col-md-9">{{ member.user.street }}</div>
                        </div>

                        <div class="row show-grid">
                            <div class="col-xs-6 col-md-3"><p class="text-right"></p></div>
                            <div class="col-xs-12 col-md-9">{{ member.user.city }} {{ member.user.zip }}</div>
                        </div>

                        <div class="row show-grid">
                            <div class="col-xs-6 col-md-3"><p class="text-right"></p></div>
                            <div class="col-xs-12 col-md-9">
                                <span class="bfh-countries" data-country="{{ member.user.country }}" data-flags="true"></span>
                            </div>
                        </div>

                        <div class="row show-grid">
                            <div class="col-xs-6 col-md-3"><p class="text-right"><label for="comments">Comments:</label></p></div>
                            <div class="col-xs-12 col-md-9">
                                <textarea  class="form-control" rows="2" id="comments" name="comments">{{ member.membership.comments }}</textarea>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 col-md-3">


                        <ul>
                            <li><a href="{{ path_for('membershipData', { 'membershipTypeId': member.membership.membershipTypeId }) }}">Renew Membership</a></li>
                            {% if member.membership.cancelled %}


                            {% else %}

                                <li><a href="{{ path_for('cancelMembership', { 'memberId': member.membership.memberId }) }}">Cancel Membership</a></li>
                                <li><a href="#">Manage Representatives</a></li>

                            {% endif %}
                        </ul>

                    </div>
                </div>

                    <input type="hidden" id="membershipTypeId" name="membershipTypeId" value="{{ member.membership.membershipTypeId }}">

                    {% if member.membership.cancelled %}

                        <p class="text-right"><button class="btn btn-success btn-md" type="submit" disabled>Save</button></p>

                    {% else %}

                        <p class="text-right"><button class="btn btn-success btn-md" type="submit">Save</button></p>

                    {% endif %}

                </form>


            </div>
        </div>

    </div>




{% endblock %}