{% extends 'base.html.twig' %}

{% block mainPanel %}

    <style>
        .cropit-preview {
            background-color: #f8f8f8;
            background-size: cover;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-top: 7px;
            width: 200px;
            height: 200px;
        }
        .cropit-preview-image-container {
            cursor: move;
        }
        .image-size-label {
            margin-top: 10px;
        }
        input, .export {
            display: block;
        }
        button {
            margin-top: 10px;
        }

        textarea {
            resize: none;
        }

    </style>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for('homeUser')}}">Home</a></li>
        <li class="breadcrumb-item active">Submit article</li>
    </ol>


    <div class="panel-group">

        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Submit an article for the Newsletter</strong></div>
            <div class="panel-body">

                    {% if isPost == true %}

                        {% if exception == true %}
                            <div class="alert alert-danger">
                                <a class="close" data-dismiss="alert" href="#">×</a>{{ message }}
                            </div>
                        {% else %}
                            <div class="alert alert-success">
                                <a class="close" data-dismiss="alert" href="#">×</a>{{ message }}
                            </div>
                        {% endif %}

                    {% else %}

                        {% if exception == true %}
                            <div class="alert alert-danger">
                                <a class="close" data-dismiss="alert" href="#">×</a>{{ message }}
                            </div>
                        {% endif %}
                    {% endif %}

                <div class="row">

                    <div class="col-xs-12 col-md-12">

                        <p class="text-primary text-left">
                            Use this form to submit an article for the newsletter of the {{ systemInfo.settings.nameOfOrganization }}.
                            Articles are selected during the editorial process. We do not guarantee that your submitted article will be published in any newsletter issue.
                            For your article to be considered for publication, you <strong>must</strong> provide a title, a main text and upload an illustrative image.
                        </p>
                        <p class="text-danger text-left" style="font-size: smaller">
                            <strong>Important: </strong><br>
                            By submitting this article you agree to publish the submitted content in the newsletter of the {{ systemInfo.settings.nameOfOrganization }}
                            and confirm that none of the provided content (including text and image) is copyright protected.
                        </p>
                        <p style="font-size: smaller">
                        Published newsletters are licensed as <a href="https://creativecommons.org/licenses/by-nd/3.0/" target="_blank">[CC BY ND 3.0]</a>, <a href="https://creativecommons.org/" target="_blank">Creative Commons</a>
                        </p>
                        <hr>
                    </div>
                </div>

                <form data-toggle="validator" role="form" method="post" id="article">
                    <div class="row">

                        <div class="col-xs-12 col-md-8">

                            <div class="form-group">
                                <label for="title">Article title:</label>
                                <input type="text" name="title" id="title" class="form-control " placeholder="" value="{{ form.title }}" tabindex="1" required>
                            </div>
                            <div class="form-group">
                                <label for="imageUrl">Image URL:</label>
                                <input type="text" name="imageUrl" id="imageUrl" class="form-control " value="{{ form.imageUrl }}" placeholder="Browse an image and save it. This field is updated automatically." tabindex="2" readonly>
                                <input type="hidden" name="imageFileName" id="imageFileName" class="form-control " placeholder="" value="{{ form.imageFileName }}">
                            </div>

                            <div class="form-group">
                                <label for="author">Author (optional, when published will appear under the title):</label>
                                <input type="text" name="author" id="author" class="form-control " placeholder="Ex: Max Mustermann, Institution" value="{{ form.author }}" tabindex="5">
                            </div>

                            <div class="form-group">
                                <label for="moreInfoUrl">More info URL (optional):</label>
                                <input type="url" name="moreInfoUrl" id="moreInfoUrl" class="form-control " placeholder="" value="{{ form.moreInfoUrl }}" tabindex="4">
                            </div>

                        </div>

                        <div class="col-xs-12 col-md-4">

                            <div id="image_preview" class="image-editor">

                                <label>Select an image to upload:</label><br>
                                <label class="btn btn-default btn-file">
                                    Browse ... <input type="file" id='image_browse' class="cropit-image-input" style="display: none;">
                                </label>

                                <div class="cropit-preview"></div>
                                <div class="image-size-label">
                                    Resize image
                                </div>

                                <input type="range" value="0" step="0.1" class="cropit-image-zoom-input">
                                <button id="rotate-ccw" class="btn btn-primary"><span class="fa fa-rotate-left"></span></button>
                                <button id="rotate-cw" class="btn btn-primary"><span class="fa fa-rotate-right"></span></button>
                            </div>

                        </div>

                    </div>

                <div class="row">

                    <div class="col-xs-12 col-md-12">

                        <div class="form-group">
                            <label for="text">Article Text (500 - 2000 characters):</label>
                            <textarea  class="form-control" rows="10" id="text" name="text" minlength="200" maxlength="3000" tabindex="3">{{ form.text }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="comments">Internal comments (will not be published):</label>
                            <textarea  class="form-control" rows="2" id="comments" name="comments" tabindex=5">{{ form.comments }}</textarea>
                        </div>

                        <span class="btn btn-success" onclick="confirmSubmission()">Submit article</span>
                    </div>

                </div>

                </form>

            </div>
        </div>

    </div>

    <div id="dialog-confirm" title="Submit article?" hidden>
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Submitted articles cannot be edited. Are you sure you want to proceed?</p>
    </div>

    <script src="{{ baseUrl }}/assets/cropit/jquery.cropit.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
    <script src="{{ baseUrl }}/assets/js/newsletterManagement.js"></script>


{% endblock %}