{% extends 'base.html.twig' %}

{% block mainPanel %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for('homeUser')}}">Home</a></li>
        <li class="breadcrumb-item active">Memberships</li>
    </ol>

    <div class="se-pre-con"></div>

    <div class="panel-group">

        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Select your membership plan(s)</strong></div>
            <div class="panel-body">

                {% if membershipTypes == null %}

                <p class="text-center text-muted"><strong>{{ message }}</strong></p>

                {% else %}

                {%  for membershipType in membershipTypes %}

                    <div class="well">
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" src="{{ baseUrl }}/assets/images/membership_logo.png" alt="membership">
                        </div>
                        <div class="media-body">

                            <h2 class="media-heading">{{ membershipType.typeName }}</h2>

                                {% if membershipType.selectable == false %}
                                    <p class="text-danger">(Users cannot select this group. Available only to admins)</p>
                                {% endif %}

                                {%  if membershipType.owner == true and membershipType.cancelled == false %}

                                    {%  if membershipType.membershipGrade != null %}

                                        <h3><img src="{{ baseUrl }}/assets/images/memberStatus_small.png" alt="..."> {{ membershipType.membershipGrade }} ID: {{ membershipType.memberId }} </h3>

                                    {% else %}

                                        <h3>Member ID: {{ membershipType.memberId }}</h3>

                                    {% endif %}

                                <strong>Description:</strong> {{ membershipType.description|raw }}

                                    {% if membershipType.free == true %}

                                        <h5><strong>Fee: </strong>FREE</h5>

                                     {% else %}

                                         <h5><strong>Fee: </strong>{{ membershipType.currency }} {{ membershipType.fee }} / {{ membershipType.recurrence }}</h5>

                                    {% endif %}

                                    {% if membershipType.validUntil != null %}

                                        {% if membershipType.valid == false %}

                                            <p class="text-danger"><strong> <span class="fa fa-warning"></span>Your membership expired on {{ membershipType.validUntil }}</strong></p>

                                        {% else %}

                                            <p class="text-info"><strong>Your membership is valid until {{ membershipType.validUntil }}</strong></p>
                                            <p>Download your membership certificate here:
                                                <a href="{{ path_for('downloadPdfMemberCertificate', {'membershipId': membershipType.memberId}) }}">
                                                    <span class="glyphicon glyphicon-download-alt"></span>
                                                </a>
                                            </p>

                                        {% endif %}

                                        <div class="row show-grid">
                                            <div class="col-xs-12 col-md-8">
                                                <a class="btn btn-success btn-md" href="{{ path_for('membershipData', { 'membershipTypeId': membershipType.id }) }}" role="button"><spam class="fa fa-recycle"></spam> Renew Membership</a>
                                                <a class="btn btn-primary btn-md" href="{{ path_for('manageMembership', {'memberId': membershipType.memberId}) }}" role="button">Manage Membership</a>
                                            </div>
                                            <div class="col-xs-6 col-md-4">
                                                <p class="text-right"><a class="btn btn-warning btn-md" data-toggle="modal" data-target="#terms_{{ membershipType.id }}">Terms and Conditions</a></p>
                                            </div>
                                        </div>

                                    {% else %}
                                        <div class="row show-grid">
                                            <div class="col-xs-12 col-md-8">

                                                {% if membershipType.free == true %}

                                                    <a class="btn btn-primary btn-md" href="{{ path_for('manageMembership', {'memberId': membershipType.memberId}) }}" role="button">Manage Membership</a>

                                                    <p>Download your membership certificate here:
                                                        <a href="{{ path_for('downloadPdfMemberCertificate', {'membershipId': membershipType.memberId}) }}">
                                                            <span class="glyphicon glyphicon-download-alt"></span>
                                                        </a>
                                                    </p>

                                                {% else %}

                                                    <a class="btn btn-success btn-md disabled" href="{{ path_for('membershipData', { 'membershipTypeId': membershipType.id }) }}" role="button"><spam class="fa fa-recycle"></spam> Renew Membership</a>
                                                    <a class="btn btn-primary btn-md disabled" href="{{ path_for('manageMembership', {'memberId': membershipType.memberId}) }}" role="button">Manage Membership</a>
                                                    <p class="text-danger">This membership is not active. <a href="{{ path_for('homeUser')}}">Home</a></p>

                                                {% endif %}

                                            </div>
                                            <div class="col-xs-6 col-md-4">
                                                <p class="text-right"><a class="btn btn-warning btn-md" data-toggle="modal" data-target="#terms_{{ membershipType.id }}">Terms and Conditions</a></p>
                                            </div>
                                        </div>

                                    {% endif %}


                                {% else %}

                                <strong>Description:</strong> {{ membershipType.description|raw }}

                                {% if membershipType.free == true %}

                                    <h5><strong>Fee: </strong>FREE</h5>

                                {% else %}

                                    <h5><strong>Fee: </strong>{{ membershipType.currency }} {{ membershipType.fee }} / {{ membershipType.recurrence }}</h5>

                                {% endif %}

                                <div class="row show-grid">
                                    <div class="col-xs-12 col-md-8">
                                        <a class="btn btn-success btn-md" href="{{ path_for('membershipData', { 'membershipTypeId': membershipType.id }) }}" role="button"><spam class="fa fa-plus"></spam> Apply now</a>
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        <p class="text-right"><a class="btn btn-warning btn-md" data-toggle="modal" data-target="#terms_{{ membershipType.id }}">Terms and Conditions</a></p>
                                    </div>
                                </div>

                            {% endif %}

                        </div>
                    </div>
                    </div>

                    <!-- Dialog with terms and conditions -->
                    <div class="modal fade" id="terms_{{ membershipType.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Terms and Conditions</h4>
                                </div>
                                <div class="modal-body">
                                    {{ membershipType.terms }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>

                {% endfor %}

                {% endif %}


            </div>
        </div>

    </div>

{% endblock %}

