{% extends 'base.html.twig' %}

{% block mainPanel %}




    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Invoices and Receipts</strong></div>
            <div class="panel-body">

                {% if exception == true %}

                    <div class="alert alert-danger">
                        <a class="close" data-dismiss="alert" href="#">×</a>{{ message }}
                    </div>

                {% else %}

                    <h3>Invoices:</h3>

                    <table class="table table-striped" id="openInvoices" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Invoice ID</th>
                            <th>Date issued</th>
                            <th>Date due</th>
                            <th>AmountPaid</th>
                            <th>Outstanding amount</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        {%  for invoices in openInvoicesArray %}

                            <tr class="">
                                <td>{{ invoices.invoiceId }}</td>
                                <td>{{ invoices.invoiceDate }}</td>
                                <td>{{ invoices.invoice.dueDate | date('jS F Y') }}</td>
                                <td>{{ invoices.invoiceCurrency }} {{ formatAmount(invoices.amountPaid) }}</td>
                                <td>{{ invoices.invoiceCurrency }} {{ formatAmount(invoices.outstandingAmount) }}</td>
                                <td>
                                    {% if invoices.outstandingAmount <= 0 %}
                                        <p class="text-primary">paid</p>
                                    {% endif %}
                                </td>
                                <td><a href="{{ path_for('singleInvoice', { 'invoiceId': invoices.invoiceId }) }}">open</a></td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>

                    <h3>Receipts:</h3>

                    <table class="table table-striped" id="openInvoices" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Invoice ID</th>
                            <th>Date issued</th>
                            <th>Date due</th>
                            <th>AmountPaid</th>
                            <th>Outstanding amount</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        {%  for invoices in openInvoicesArray %}

                            {%  for invoices in closedInvoicesArray %}

                                <tr class="">
                                    <td>{{ invoices.invoiceId }}</td>
                                    <td>{{ invoices.invoiceDate }}</td>
                                    <td>{{ invoices.invoice.dueDate | date('jS F Y') }}</td>
                                    <td>{{ invoices.invoiceCurrency }} {{ formatAmount(invoices.amountPaid) }}</td>
                                    <td>{{ invoices.invoiceCurrency }} {{ formatAmount(invoices.outstandingAmount) }}</td>
                                    <td>
                                        {% if invoices.outstandingAmount <= 0 %}
                                            <p class="text-primary">paid</p>
                                        {% endif %}
                                    </td>
                                    <td><a href="{{ path_for('singleInvoice', { 'invoiceId': invoices.invoiceId }) }}">open</a></td>
                                </tr>

                            {% endfor %}

                        {% endfor %}
                        </tbody>
                    </table>

                {% endif %}


            </div>
        </div>
    </div>

{% endblock %}

