{% extends 'base.html.twig' %}

{% block mainPanel %}

    <div class="se-pre-con"></div>

    <div class="row show-grid">
        <div class="col-xs-9 col-md-9">
            <p class="text-left text-success"><strong>Welcome, {{ userName }}!</strong></p>
            {% if memberships.membershipFound > 0 %}

                {% for membership in memberships.memberships %}

                    {% if membership.valid == true %}

                        {% if membership.validUntil != null %}
                            <p class="text-primary text-left">{% if membership.membershipGrade != null %}<img src="{{ baseUrl }}/assets/images/memberStatus_small.png" alt="...">{% endif %} <strong>Member ID: {{ membership.memberId }}</strong> | {{ membership.typeName }} {% if membership.membershipGrade != null %}, {{ membership.membershipGrade }}{% endif %}| <strong>Valid until:</strong> {{ membership.validUntil | date('jS F Y') }} </p>
                        {% else %}
                            <p class="text-primary text-left">{% if membership.membershipGrade != null %}<img src="{{ baseUrl }}/assets/images/memberStatus_small.png" alt="...">{% endif %} <strong>Member ID: {{ membership.memberId }}</strong> | {{ membership.typeName }} {% if membership.membershipGrade != null %}, {{ membership.membershipGrade }}{% endif %} </p>
                        {% endif %}

                    {% else %}

                        {% if membership.validUntil != null %}
                            <p class="text-danger text-left"><strong> Member ID: {{ membership.memberId }}</strong> | {{ membership.typeName }} | Expired on {{ membership.validUntil | date('jS F Y') }} <a href="{{ path_for('membershipData', { 'membershipTypeId': membership.typeId }) }}" class="btn btn-success btn-xs">Renew now!</a></p>
                        {% else %}
                            <p class="text-danger text-left"><strong> Member ID: {{ membership.memberId }}</strong> | {{ membership.typeName }} | Not active</p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <p class="text-warning text-left">{{ memberships.message  }} <a href="{{ path_for('selectMembership')}}" class="btn btn-success btn-xs">Apply for membership here</a></p>
            {% endif %}
        </div>
        <div class="col-xs-3 col-md-3">
            <img src="{{ pictureUrl }}" style="padding: 10px" align="right">
        </div>
    </div>

    <div class="row show-grid">

        <div class="col-xs-12 col-md-12">

        </div>

    </div>



    {% if invoiceInfo.numberOfOpenInvoices > 0 %}

        <div class="alert alert-warning">
        <h4><strong>You have the following open invoices:</strong></h4>

        {%  for invoice in invoiceInfo.openInvoicesArray %}
            <p style="font-size:14px"><a href="{{ path_for('singleInvoice', { 'invoiceId': invoice.invoiceId }) }}">Invoice Nr. {{ invoice.invoiceId }} ({{ invoice.invoiceDate }})</a></p>
        {% endfor %}

        </div>
    {% endif %}

    <div class="panel-group">

        <div class="panel panel-primary">
            <div class="panel-heading"><spam class="fa fa-user"></spam> As a user you have the following options</div>
            <div class="panel-body">
                <ul>
                <li class="active"><a href="{{ path_for('userProfile')}}"><spam class="fa fa-user"></spam> Edit your user account</a></li>
                <li><a href="{{ path_for('selectMembership')}}"><spam class="fa fa-star"></spam> Your Membership(s)</a></li>
                <li><a href="{{ path_for('userInvoices')}}"><spam class="fa fa-history"></spam> Invoices and Receipts for {{ userName }}</a></li>
                </ul>
            </div>
        </div>


    {% if memberships.memberships != null %}

        {% if memberships.validMembershipFound %}

            <div class="panel panel-primary">
                <div class="panel-heading"><spam class="fa fa-star"></spam> Options for Members only</div>
                <div class="panel-body">
                    <ul>
                        <li><a href="{{ path_for('documentsUser')}}"><spam class="fa fa-files-o"></spam> View documents for members</a></li>
                        <li><a href="{{ path_for('newsletterArticle')}}"><spam class="fa fa-share-alt"></spam> Submit article to the {{ systemInfo.settings.acronym }} Newsletter</a></li>
                        <li><a href="{{ path_for('userNewsletters')}}"><spam class="fa fa-envelope-o"></spam> Published Newsletters</a></li>
                    </ul>
                </div>
            </div>

        {% else %}

            <!--

            <div class="panel panel-default">
                <div class="panel-heading"><strong>Options for Members (not available)</strong></div>
                <div class="panel-body">
                    <ul>
                        <li><p class="text-muted"><spam class="fa fa-files-o"></spam> Documents for Members</p></li>
                        <li><p class="text-muted"><spam class="fa fa-share-alt"></spam> Submit article for Newsletter</p></li>
                        <li><p class="text-muted"><spam class="fa fa-envelope-o"></spam> Published Newsletters</p></li>
                    </ul>
                </div>
            </div>
            -->

        {% endif %}

    {% endif %}

    {% if user_role == 'ROLE_EDITOR' %}

    <br>
    <p class="text-danger text-left"><strong>Options for editors:</strong></p>

        <div class="panel panel-default">
        <div class="panel-heading">Manage newsletters and articles</div>
             <div class="panel-body">

                 <p class="text-success text-left"><strong><spam class="fa fa-envelope"></spam> Manage articles and newsletters</strong></p>

                 <ul>
                    <li><a href="{{ path_for('newsletterArticle')}}"></spam> Create new article</a></li>
                     <li><a href="{{ path_for('newslettersAdmin') }}"></spam> Manage Newsletters and articles</a></li>
                </ul>
             </div>
        </div>

    {% endif %}


        {% if user_role == 'ROLE_ADMIN' %}

            <br>
            <p class="text-danger text-left"><strong>Options for System Administrators:</strong></p>

            <div class="panel panel-default">
                <div class="panel-heading">Manage users, members, newsletters and system settings</div>
                <div class="panel-body">

                    <p class="text-success text-left"><strong><spam class="fa fa-envelope"></spam> Manage articles, newsletters and documents</strong></p>

                    <ul>
                        <li><a href="{{ path_for('newsletterArticle')}}"></spam> Create new article</a></li>
                        <li><a href="{{ path_for('newslettersAdmin') }}"></spam> Manage Newsletters and articles</a></li>
                        <li><a href="{{ path_for('documentsAdmin')}}"><spam class="fa fa-file-text"></spam> Manage documents for members</a></li>

                    </ul>

                    <p class="text-success text-left"><strong><spam class="fa fa-group"></spam> Manage members and users:</strong></p>

                    <ul>
                        <li><a href="{{ path_for('members')}}"><spam class="fa fa-group"></spam> Manage Members</a>
                        <li><a href="{{ path_for('usersTableView')}}"><spam class="fa fa-group"></spam> All users</a>, <a href="{{ path_for('registerNewUser')}}">Register new User</a></li>
                        <li><a href="{{ path_for('createBulkMailMembersAdmin')}}"><spam class="fa fa-envelope"></spam> Send e-mail to members</a></li>
                        <li><a href="{{ path_for('userInvoicesAdmin', { 'userId': '-1'}) }}"><spam class="fa fa-money"></spam> Invoices, receipts and paymnets</a></li>
                    </ul>

                    <p class="text-success text-left"><strong><spam class="fa fa-gears"></spam> System Settings:</strong></p>

                    <ul>
                        <li><a href="{{ path_for('systemSettings') }}">System Settings</a></li>
                        <li><a href="{{ path_for('membershipTypes') }}">Manage Membership types</a></li>
                        <li><a href="#">Manage Membership grades</a></li>
                    </ul>
                </div>
            </div>

        {% endif %}

    </div>

{% endblock %}