{% extends 'base.html.twig' %}

{% block mainPanel %}


    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for('homeUser')}}">Home</a></li>
        <li class="breadcrumb-item active">Invoices</li>
    </ol>

    <div class="se-pre-con"></div>

    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Invoices and Receipts</strong></div>
            <div class="panel-body">

                {% if exception == true %}

                    <div class="alert alert-danger">
                        <a class="close" data-dismiss="alert" href="#">×</a>{{ message }}
                    </div>

                {% else %}

                    <h3>Your invoices and receipts:</h3>

                    <table class="table table-striped" id="openInvoices" cellspacing="0" width="100%" style="font-size: smaller">
                        <thead>
                        <tr>
                            <th>Invoice ID</th>
                            <th>Date issued</th>
                            <th>Date due</th>
                            <th>Total</th>
                            <th>AmountPaid</th>
                            <th>Invoice</th>
                            <th>Receipt</th>
                        </tr>
                        </thead>
                        <tbody>

                        {%  for invoices in openInvoicesArray %}

                            <tr {% if invoices.invoice.dueDate < date("now") %} class="danger" {% endif %}>
                                <td>{{ invoices.invoiceId }}</td>
                                <td>{{ invoices.invoiceDate }}</td>
                                <td>
                                    {% if invoices.invoice.dueDate < date("now") %}
                                        <p class="text text-danger"> {{ invoices.invoice.dueDate | date('jS F Y') }}</p>
                                    {% else %}
                                        <p class="text text-info"> {{ invoices.invoice.dueDate | date('jS F Y') }}</p>
                                    {% endif %}

                                </td>
                                <td>
                                    {% if invoices.outstandingAmount <= 0 %}
                                        <p class="text-success"> {{ invoices.invoiceCurrency }} {{ formatAmount(invoices.outstandingAmount) }}</p>
                                    {% else %}
                                        <p class="text-danger"> {{ invoices.invoiceCurrency }} {{ formatAmount(invoices.outstandingAmount) }}</p>
                                    {% endif %}
                                </td>
                                <td>{{ invoices.invoiceCurrency }} {{ formatAmount(invoices.amountPaid) }}</td>
                                <td>
                                    <a href="{{ path_for('downloadPdfInvoice', { 'invoiceId': invoices.invoice.id }) }}" target="_blank">
                                    <img height="20px" src="/assets/images/PDF_download.png">
                                    </a>
                                </td>
                                <td></td>
                            </tr>
                        {% endfor %}

                        {%  for invoices in closedInvoicesArray %}

                            <tr class="">
                                <td>{{ invoices.invoiceId }}</td>
                                <td>{{ invoices.invoiceDate }}</td>
                                <td>{{ invoices.invoice.dueDate | date('jS F Y') }}</td>
                                <td>
                                    {% if invoices.outstandingAmount <= 0 %}
                                        <p class="text-success"> {{ invoices.invoiceCurrency }} {{ formatAmount(invoices.totalPrice) }}</p>
                                    {% else %}
                                        <p class="text-danger"> {{ invoices.invoiceCurrency }} {{ formatAmount(invoices.totalPrice) }}</p>
                                    {% endif %}
                                </td>
                                <td>{{ invoices.invoiceCurrency }} {{ formatAmount(invoices.amountPaid) }}</td>
                                <td>
                                    <a href="{{ path_for('downloadPdfInvoice', { 'invoiceId': invoices.invoice.id }) }}" target="_blank">
                                        <img height="20px" src="/assets/images/PDF_download.png">
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path_for('downloadPdfReceipt', { 'invoiceId': invoices.invoice.id }) }}" target="_blank">
                                        <img height="20px" src="/assets/images/PDF_download.png">
                                    </a>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>


                {% endif %}


            </div>
        </div>
    </div>

{% endblock %}

