{% extends 'base.html.twig' %}

{% block mainPanel %}

    <div class="se-pre-con"></div>

    <div class="row show-grid">
        <div class="col-xs-9 col-md-9">
            <p class="text-left text-success"><strong>Welcome, {{ userName }}!</strong></p>
            {% if memberships.membershipFound > 0 %}

                {% for membership in memberships.memberships %}

                    {% if membership.valid == true %}

                        {% if membership.validUntil != null %}
                            <p class="text-primary text-left">{% if membership.membershipGrade != null %}<img src="{{ baseUrl }}/assets/images/memberStatus_small.png" alt="...">{% endif %} <strong>Member ID: {{ membership.memberId }}</strong> | {{ membership.typeName }} {% if membership.membershipGrade != null %}, {{ membership.membershipGrade }}{% endif %}| <strong>Valid until:</strong> {{ membership.validUntil | date('d/m/Y') }} </p>
                        {% else %}
                            <p class="text-primary text-left">{% if membership.membershipGrade != null %}<img src="{{ baseUrl }}/assets/images/memberStatus_small.png" alt="...">{% endif %} <strong>Member ID: {{ membership.memberId }}</strong> | {{ membership.typeName }} {% if membership.membershipGrade != null %}, {{ membership.membershipGrade }}{% endif %} </p>
                        {% endif %}

                    {% else %}

                        {% if membership.validUntil != null %}
                            <p class="text-danger text-left"><strong> Member ID: {{ membership.memberId }}</strong> | {{ membership.typeName }} | Expired on {{ membership.validUntil | date('d/m/Y') }} <a href="{{ path_for('membershipData', { 'membershipTypeId': membership.typeId }) }}" class="btn btn-success btn-xs">Renew now!</a></p>
                        {% else %}
                            <p class="text-danger text-left"><strong> Member ID: {{ membership.memberId }}</strong> | {{ membership.typeName }} | Not active</p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if user_role != 'ROLE_USER'  %}
                    <p class="text-warning text-left">{{ memberships.message  }} <a href="{{ path_for('selectMembership')}}" class="btn btn-success btn-xs">Apply for membership here</a></p>
                {% else %}
                    <p class="text-warning text-left">You are not a member yet. Select a membership plan below:</p>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-xs-3 col-md-3">
            {% if pictureUrl != null %}
                <img src="{{ pictureUrl }}" style="padding: 10px" align="right">
            {% endif %}
        </div>
    </div>

    <div class="row show-grid">

        <div class="col-xs-12 col-md-12">

        </div>

    </div>



    {% if invoiceInfo.numberOfOpenInvoices > 0 %}

        <div class="alert alert-warning">
        <h4><strong>You have the following open invoices:</strong></h4>

        {%  for invoice in invoiceInfo.openInvoicesArray %}
            <p style="font-size:14px"><a href="{{ path_for('singleInvoice', { 'invoiceId': invoice.invoiceId }) }}">Invoice Nr. {{ invoice.invoiceId }} ({{ invoice.invoiceDate }})</a></p>
        {% endfor %}

        </div>
    {% endif %}

    <div class="panel-group">

    {% if (memberships.membershipFound == 0) and (user_role == 'ROLE_USER') %}

        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Select your membership plan</strong></div>
            <div class="panel-body">

                {% if membershipTypes == null %}

                    <p class="text-center text-muted"><strong>{{ message }}</strong></p>

                {% else %}

                    {%  for membershipType in membershipTypes %}

                        <div class="well">
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" src="{{ baseUrl }}/assets/images/membership_logo.png" alt="membership">
                                </div>
                                <div class="media-body">

                                    <h2 class="media-heading">{{ membershipType.typeName }}</h2>

                                    {% if membershipType.selectable == false %}
                                        <p class="text-danger">(Users cannot select this group. Available only to admins)</p>
                                    {% endif %}

                                    {%  if membershipType.owner == true and membershipType.cancelled == false %}

                                        {%  if membershipType.membershipGrade != null %}

                                            <h3><img src="{{ baseUrl }}/assets/images/memberStatus_small.png" alt="..."> {{ membershipType.membershipGrade }} ID: {{ membershipType.memberId }} </h3>

                                        {% else %}

                                            <h3>Member ID: {{ membershipType.memberId }}</h3>

                                        {% endif %}

                                        <strong>Description:</strong> {{ membershipType.description|raw }}

                                        {% if membershipType.free == true %}

                                            <h5><strong>Fee: </strong>FREE</h5>

                                        {% else %}

                                            <h5><strong>Fee: </strong>{{ membershipType.currency }} {{ membershipType.fee }} / {{ membershipType.recurrence }}</h5>

                                        {% endif %}

                                        {% if membershipType.validUntil != null %}

                                            {% if membershipType.valid == false %}

                                                <p class="text-danger"><strong> <span class="fa fa-warning"></span>Your membership expired on {{ membershipType.validUntil }}</strong></p>

                                            {% else %}

                                                <p class="text-info"><strong>Your membership is valid until {{ membershipType.validUntil }}</strong></p>

                                            {% endif %}

                                            <div class="row show-grid">
                                                <div class="col-xs-12 col-md-8">
                                                    <a class="btn btn-success btn-md" href="{{ path_for('membershipData', { 'membershipTypeId': membershipType.id }) }}" role="button"><spam class="fa fa-recycle"></spam> Renew Membership</a>
                                                    <a class="btn btn-primary btn-md" href="{{ path_for('manageMembership', {'memberId': membershipType.memberId}) }}" role="button">Manage Membership</a>
                                                </div>
                                                <div class="col-xs-6 col-md-4">
                                                    <p class="text-right"><a class="btn btn-warning btn-md" data-toggle="modal" data-target="#terms_{{ membershipType.id }}">Terms and Conditions</a></p>
                                                </div>
                                            </div>

                                        {% else %}
                                            <div class="row show-grid">
                                                <div class="col-xs-12 col-md-8">

                                                    {% if membershipType.free == true %}

                                                        <a class="btn btn-primary btn-md" href="{{ path_for('manageMembership', {'memberId': membershipType.memberId}) }}" role="button">Manage Membership</a>

                                                    {% else %}

                                                        <a class="btn btn-success btn-md disabled" href="{{ path_for('membershipData', { 'membershipTypeId': membershipType.id }) }}" role="button"><spam class="fa fa-recycle"></spam> Renew Membership</a>
                                                        <a class="btn btn-primary btn-md disabled" href="{{ path_for('manageMembership', {'memberId': membershipType.memberId}) }}" role="button">Manage Membership</a>
                                                        <p class="text-danger">This membership is not active. <a href="{{ path_for('homeUser')}}">Home</a></p>

                                                    {% endif %}

                                                </div>
                                                <div class="col-xs-6 col-md-4">
                                                    <p class="text-right"><a class="btn btn-warning btn-md" data-toggle="modal" data-target="#terms_{{ membershipType.id }}">Terms and Conditions</a></p>
                                                </div>
                                            </div>

                                        {% endif %}


                                    {% else %}

                                        <strong>Description:</strong> {{ membershipType.description|raw }}

                                        {% if membershipType.free == true %}

                                            <h5><strong>Fee: </strong>FREE</h5>

                                        {% else %}

                                            <h5><strong>Fee: </strong>{{ membershipType.currency }} {{ membershipType.fee }} / {{ membershipType.recurrence }}</h5>

                                        {% endif %}

                                        <div class="row show-grid">
                                            <div class="col-xs-12 col-md-8">
                                                <a class="btn btn-success btn-md" href="{{ path_for('membershipData', { 'membershipTypeId': membershipType.id }) }}" role="button"><spam class="fa fa-plus"></spam> Apply now</a>
                                            </div>
                                            <div class="col-xs-6 col-md-4">
                                                <p class="text-right"><a class="btn btn-warning btn-md" data-toggle="modal" data-target="#terms_{{ membershipType.id }}">Terms and Conditions</a></p>
                                            </div>
                                        </div>

                                    {% endif %}

                                </div>
                            </div>
                        </div>

                        <!-- Dialog with terms and conditions -->
                        <div class="modal fade" id="terms_{{ membershipType.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Terms and Conditions</h4>
                                    </div>
                                    <div class="modal-body">
                                        {{ membershipType.terms }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>

                    {% endfor %}

                {% endif %}


            </div>
        </div>

    {% endif %}

        <div class="panel panel-primary">
            <div class="panel-heading"><spam class="fa fa-user"></spam> As a user you have the following options</div>
            <div class="panel-body">
                <ul>
                <li class="active"><a href="{{ path_for('userProfile')}}"><spam class="fa fa-user"></spam> Edit your user account</a></li>
                <li><a href="{{ path_for('selectMembership')}}"><spam class="fa fa-star"></spam> Your Membership(s)</a></li>
                <li><a href="{{ path_for('userInvoices')}}"><spam class="fa fa-history"></spam> Invoices and Receipts for {{ userName }}</a></li>
                </ul>
            </div>
        </div>


    {% if memberships.memberships != null %}

        {% if memberships.validMembershipFound %}

            <div class="panel panel-primary">
                <div class="panel-heading"><spam class="fa fa-star"></spam> Options for Members only</div>
                <div class="panel-body">
                    <ul>
                        <li><a href="{{ path_for('documentsUser')}}"><spam class="fa fa-files-o"></spam> View documents for members</a></li>
                        <li><a href="{{ path_for('newsletterArticle')}}"><spam class="fa fa-share-alt"></spam> Submit article to the {{ systemInfo.settings.acronym }} Newsletter</a></li>
                        <li><a href="{{ path_for('userNewsletters')}}"><spam class="fa fa-envelope-o"></spam> Published Newsletters</a></li>
                    </ul>
                </div>
            </div>

        {% else %}

            <!--

            <div class="panel panel-default">
                <div class="panel-heading"><strong>Options for Members (not available)</strong></div>
                <div class="panel-body">
                    <ul>
                        <li><p class="text-muted"><spam class="fa fa-files-o"></spam> Documents for Members</p></li>
                        <li><p class="text-muted"><spam class="fa fa-share-alt"></spam> Submit article for Newsletter</p></li>
                        <li><p class="text-muted"><spam class="fa fa-envelope-o"></spam> Published Newsletters</p></li>
                    </ul>
                </div>
            </div>
            -->

        {% endif %}

    {% endif %}

    {% if user_role == 'ROLE_EDITOR' %}

    <br>
    <p class="text-danger text-left"><strong>Options for editors:</strong></p>

        <div class="panel panel-default">
        <div class="panel-heading">Manage newsletters and articles</div>
             <div class="panel-body">

                 <p class="text-success text-left"><strong><spam class="fa fa-envelope"></spam> Manage articles and newsletters</strong></p>

                 <ul>
                    <li><a href="{{ path_for('newsletterArticle')}}"></spam> Create new article</a></li>
                     <li><a href="{{ path_for('newslettersAdmin') }}"></spam> Manage Newsletters and articles</a></li>
                </ul>
             </div>
        </div>

    {% endif %}


        {% if user_role == 'ROLE_ADMIN' %}

            <br>
            <p class="text-danger text-left"><strong>Options for System Administrators:</strong></p>

            <div class="panel panel-default">
                <div class="panel-heading">Manage users, members, newsletters and system settings</div>
                <div class="panel-body">

                    <p class="text-success text-left"><strong><spam class="fa fa-envelope"></spam> Manage articles, newsletters and documents</strong></p>

                    <ul>
                        <li><a href="{{ path_for('newsletterArticle')}}"></spam> Create new article</a></li>
                        <li><a href="{{ path_for('newslettersAdmin') }}"></spam> Manage Newsletters and articles</a></li>
                        <li><a href="{{ path_for('documentsAdmin')}}"><spam class="fa fa-file-text"></spam> Manage documents for members</a></li>

                    </ul>

                    <p class="text-success text-left"><strong><spam class="fa fa-group"></spam> Manage members and users:</strong></p>

                    <ul>
                        <li><a href="{{ path_for('members')}}"><spam class="fa fa-group"></spam> Manage Members</a>
                        <li><a href="{{ path_for('usersTableView')}}"><spam class="fa fa-group"></spam> All users</a>, <a href="{{ path_for('registerNewUser')}}">Register new User</a></li>
                        <li><a href="{{ path_for('createBulkMailMembersAdmin')}}"><spam class="fa fa-envelope"></spam> Send e-mail to members</a></li>
                        <li><a href="{{ path_for('userInvoicesAdmin', { 'userId': '-1'}) }}"><spam class="fa fa-money"></spam> Invoices, receipts and paymnets</a></li>
						<li><a href="{{ path_for('membersExport')}}"><spam class="fa fa-group"></spam> Export members (new!!)</a>
                    </ul>

                    <p class="text-success text-left"><strong><spam class="fa fa-gears"></spam> System Settings:</strong></p>

                    <ul>
                        <li><a href="{{ path_for('systemSettings') }}">System Settings</a></li>
                        <li><a href="{{ path_for('membershipTypes') }}">Manage Membership types</a></li>
                        <li><a href="#">Manage Membership grades</a></li>
                    </ul>
                </div>
            </div>

        {% endif %}

    </div>

{% endblock %}