{% extends 'base.html.twig' %}

{% block mainPanel %}

    <script src="{{ baseUrl }}/assets/bootstrap-validator/validator.min.js"></script>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for('homeUser')}}">Home</a></li>
        <li class="breadcrumb-item active">Edit Profile</li>
    </ol>

    <div class="se-pre-con"></div>

    <div class="panel-group">

        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Your Membership</strong></div>
            <div class="panel-body">
                <form data-toggle="validator" role="form" method="post">

                    {% if form_submission == true %}

                        {% if exception == true %}
                            <div class="alert alert-danger">
                                <a class="close" data-dismiss="alert" href="#">×</a>{{ message }}
                            </div>
                        {% else %}
                            <div class="alert alert-success">
                                <a class="close" data-dismiss="alert" href="#">×</a>{{ message }}
                            </div>
                        {% endif %}

                    {% else %}

                        {% if exception %}
                            <div class="alert alert-danger">
                                <a class="close" data-dismiss="alert" href="#">×</a>{{ message }}
                            </div>
                        {% endif %}
                    {% endif %}

                    {% if linkedIn != null %}
                        {% if linkedIn.exception %}
                            <div class="alert alert-danger">
                                <a class="close" data-dismiss="alert" href="#">×</a>{{ linkedIn.message }}
                            </div>
                        {% else %}
                            <div class="alert alert-success">
                                <a class="close" data-dismiss="alert" href="#">×</a>{{ linkedIn.message }}
                            </div>
                        {% endif %}
                    {% endif %}

                    {% if systemInfo.settings.enableOauthLinkedIn %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-8">
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <a class="btn btn-block btn-primary"  data-toggle="tooltip" data-placement="top" title="Click to link your local account with yoour LinkedIn profile. This will allow you to sign in to {{ systemInfo.settings.acronym }} with your local credentials or via LinkedIn." href="{{ linkedInOauthEndpoint }}?response_type=code&client_id={{ systemInfo.settings.linkedInClientId }}&redirect_uri={{ oauthRedirect }}&state={{ linkedInState }}">
                               Enable sign on with <img src="/assets/images/Logo-2C-21px-R.png">
                            </a>
                        </div>
                    </div>
                        <hr>
                    {% endif %}

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group {% if form.title.error == true %}has-error{% endif %}">
                                <label class="control-label" for="first_name">Title</label>
                                <select required="required" value="{{ form.title.value }}" class="form-control" name="title" id="title">
                                    <option {% if form.title.value == 'Dr.' %} selected="selected" {% endif %}>Dr.</option>
                                    <option {% if form.title.value == 'Mrs.' %} selected="selected" {% endif %}>Mrs.</option>
									<option {% if form.title.value == 'Ms.' %} selected="selected" {% endif %}>Ms.</option>
                                    <option {% if form.title.value == 'Mr.' %} selected="selected" {% endif %}>Mr.</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group {% if form.first_name.error == true %}has-error{% endif %}">
                                <label class="control-label" for="first_name">First Name</label>
                                <input required="required" type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name" value="{{ form.first_name.value }}" tabindex="1">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group {% if form.last_name.error == true %}has-error{% endif %}">
                                <label class="control-label" for="last_name">Last Name</label>
                                <input required="required" type="text" name="last_name" id="last_name" class="form-control " placeholder="Last Name" value="{{ form.last_name.value }}" tabindex="2">
                            </div>
                        </div>
                    </div>
                    <div class="form-group {% if form.position.error == true %}has-error{% endif %}">
                        <label class="control-label" for="position">Position</label>
                        <input type="text" name="position" id="position" class="form-control " placeholder="position" value="{{ form.position.value }}" tabindex="3">
                    </div>
                    <div class="form-group {% if form.institution.error == true %}has-error{% endif %}">
                        <label class="control-label" for="institution">Institution</label>
                        <input type="text" name="institution" id="institution" class="form-control " placeholder="Institution" value="{{ form.institution.value }}" tabindex="3">
                    </div>
                    <div class="form-group {% if form.department.error == true %}has-error{% endif %}">
                        <label class="control-label" for="department">Department</label>
                        <input type="text" name="department" id="department" class="form-control " placeholder="Department" value="{{ form.department.value }}" tabindex="3">
                    </div>
                    <div class="form-group {% if form.street.error == true %}has-error{% endif %}">
                        <label class="control-label" for="street">Street</label>
                        <input required type="text" name="street" id="street" class="form-control " placeholder="street" value="{{ form.street.value }}" tabindex="3">
                    </div>



                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group {% if form.country.error == true %}has-error{% endif %}">
                                <label for="">Country</label>
                                <div  id="country" class="bfh-selectbox bfh-countries" data-country="{{ form.country.value }}"  data-name="country" data-flags="true">
                                    <input type="hidden" value="">
                                    <a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#">
                                        <span class="bfh-selectbox-option input-medium" data-option=""></span>
                                        <b class="caret"></b>
                                    </a>
                                    <div class="bfh-selectbox-options">
                                        <input type="text" class="bfh-selectbox-filter">
                                        <div role="listbox">
                                            <ul role="option">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group {% if form.city.error == true %}has-error{% endif %}">
                                <label for="city">City</label>
                                <input required="required" type="text" name="city" id="city" class="form-control " placeholder="" value="{{ form.city.value }}" tabindex="5">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group {% if form.zip.error == true %}has-error{% endif %}">
                                <label for="zip">ZIP</label>
                                <input type="text" name="zip" id="zip" class="form-control " placeholder="" value="{{ form.zip.value }}" tabindex="6">
                            </div>
                        </div>
                    </div>

                    <div class="form-group {% if form.website.error == true %}has-error{% endif %}">
                        <label for="website">Website</label>
                        <input type="text" name="website" id="street" class="form-control " placeholder="" value="{{ form.website.value }}" tabindex="3">
                    </div>

                    <div class="form-group {% if form.phone.error == true %}has-error{% endif %}">
                        <label for="phone">Phone</label>
                        <input type="text" id="phone" name="phone" class="form-control" value="{{ form.phone.value }}">
                    </div>

                    <div class="well">

                        <strong>Would you like to receive information from {{ systemInfo.settings.nameOfOrganization }}? </strong><br>
                        Update your preferences here.
                        <div class="checkbox">
                            <label>
                                <input name="newsletterConsent" id="consent" type="checkbox" {% if form.newsletterConsent.value %}checked{% endif %}>I would like to receive the Newsletter.
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input name="membershipEmailConsent" id="consent" type="checkbox" {% if form.membershipEmailConsent.value %}checked{% endif %}>I would like to receive e-mails concerning my membership and other matters related to the {{ systemInfo.settings.nameOfOrganization }}.
                            </label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group {% if form.email_1.error == true %}has-error{% endif %}">
                                <label for="email_1">Primary E-mail</label>
                                <input type="email" name="email_1" id="email_1" class="form-control " placeholder="" value="{{ form.email_1.value }}" tabindex="5" data-error="This e-mail address is invalid" required />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group {% if form.email_2.error == true %}has-error{% endif %}">
                                <label for="e-mail_2">Secondary E-mail</label>
                                <input type="email" name="email_2" id="email_2" class="form-control " placeholder="" value="{{ form.email_2.value }}" tabindex="6" data-error="This e-mail address is invalid">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-2">
                            <a class="btn btn-block btn-primary" href="{{ path_for('resetPasswordByUser')}}">Reset password</a>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-6"></div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <button type="submit" class="btn btn-success btn-block">Save Profile</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>

{% endblock %}