<html>

<head>

    <!-- Bootstrap core CSS -->
    <link href="{{ baseUrl }}/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ baseUrl }}/assets/form-helper/css/bootstrap-formhelpers.min.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ baseUrl }}/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ baseUrl }}/assets/form-helper/js/bootstrap-formhelpers.min.js"></script>
    <script src="{{ baseUrl }}/assets/bootstrap-validator/validator.min.js"></script>


</head>
<body>

<div class="container" style="margin-top:30px">
    <div class="col-md-10 col-md-offset-1">

        <h1 class="text-center"><img src="{{ baseUrl }}/assets/images/logo.png" width="850"></h1>
        <hr>

        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title"><strong>Enter your e-mail address to reset your password </strong></h3>
            </div>

            <div class="panel-body">
                <form data-toggle="validator" role="form" method="post">

                    {% if exception == true %}
                        <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert" href="#">×</a>{{ message }}
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group {% if form.email_1.error == true %}has-error{% endif %}">
                                <label for="email_1">Enter your e-mail address</label>
                                <input type="email" name="email_1" id="email_1" class="form-control " placeholder="Email" tabindex="5">
                            </div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-success">Reset password</button>

                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>