{% if exception == true %}

    <div class="alert alert-danger">
        <a class="close" data-dismiss="alert" href="#">×</a>{{ message }}
    </div>

{% else %}

    <table class="table">
        <th>Newsletter</th>
        <th>Published on</th>
        {% for newsletter in newsletters %}

            <tr>
                <td><a href="{{ baseSiteUrl }}/newsletter/{{ newsletter.publicKey }}">{{ newsletter.title }}</a></td>
                <td>{{ newsletter.publishDate | date('jS F Y') }}</td>
            </tr>

        {% endfor %}
    </table>


{% endif %}

