{% extends 'base.html.twig' %}

{% block mainPanel %}


    <!-- Notify.js JavaScript  ============================================== -->
    <!-- <script src="{{ baseUrl }}/assets/js/notify.min.js"></script>  -->

    <link href="{{ baseUrl }}/assets/form-helper/css/bootstrap-formhelpers.min.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="{{ baseUrl }}/assets/form-helper/js/bootstrap-formhelpers.min.js"></script>
    <script src="{{ baseUrl }}/assets/bootstrap-validator/validator.min.js"></script>


        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title"><strong>Register </strong></h3>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="{{ baseUrl }}/login">User Login</a></div>
            </div>

            <div class="panel-body">
                <form data-toggle="validator" role="form" method="post">

                    {% if validation.exception == true %}
                        <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert" href="#">×</a>{{ validation.message }}
                        </div>
                    {% endif %}


                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group {% if form.title.error == true %}has-error{% endif %}">
                                <label class="control-label" for="title">Title</label>
                                <select required="required" value="{{ form.title.value }}" class="form-control" name="title" id="title">
                                    <option>Dr.</option>
                                    <option>Mrs.</option>
                                    <option>Mr.</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group {% if form.first_name.error == true %}has-error{% endif %}">
                                <label class="control-label" for="first_name">First Name</label>
                                <input required="required" type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name" value="{{ form.first_name.value }}" tabindex="1">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group {% if form.last_name.error == true %}has-error{% endif %}">
                                <label class="control-label" for="last_name">Last Name</label>
                                <input required="required" type="text" name="last_name" id="last_name" class="form-control " placeholder="Last Name" value="{{ form.last_name.value }}" tabindex="2">
                            </div>
                        </div>
                    </div>
                    <div class="form-group {% if form.position.error == true %}has-error{% endif %}">
                        <label class="control-label" for="position">Position</label>
                        <input type="text" name="position" id="position" class="form-control " placeholder="position" value="{{ form.position.value }}" tabindex="3">
                    </div>
                    <div class="form-group {% if form.institution.error == true %}has-error{% endif %}">
                        <label class="control-label" for="institution">Institution</label>
                        <input type="text" name="institution" id="institution" class="form-control " placeholder="Institution" value="{{ form.institution.value }}" tabindex="4">
                    </div>
                    <div class="form-group {% if form.department.error == true %}has-error{% endif %}">
                        <label class="control-label" for="department">Department</label>
                        <input type="text" name="department" id="department" class="form-control " placeholder="Department" value="{{ form.department.value }}" tabindex="5">
                    </div>
                    <div class="form-group {% if form.street.error == true %}has-error{% endif %}">
                        <label class="control-label" for="street">Street</label>
                        <input required type="text" name="street" id="street" class="form-control " placeholder="street" value="{{ form.street.value }}" tabindex="6">
                    </div>



                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group {% if form.country.error == true %}has-error{% endif %}">
                                <label for="">Country</label>
                                <div  id="country" class="bfh-selectbox bfh-countries" data-country="{{ form.country.value }}"  data-name="country" data-flags="true" tabindex="7">
                                    <input type="hidden" value="">
                                    <a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#">
                                        <span class="bfh-selectbox-option input-medium" data-option=""></span>
                                        <b class="caret"></b>
                                    </a>
                                    <div class="bfh-selectbox-options">
                                        <input type="text" class="bfh-selectbox-filter">
                                        <div role="listbox">
                                            <ul role="option">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group {% if form.city.error == true %}has-error{% endif %}">
                                <label for="city">City</label>
                                <input required="required" type="text" name="city" id="city" class="form-control " placeholder="" value="{{ form.city.value }}" tabindex="8">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group {% if form.zip.error == true %}has-error{% endif %}">
                                <label for="zip">ZIP</label>
                                <input type="text" name="zip" id="zip" class="form-control " placeholder="" value="{{ form.zip.value }}" tabindex="9">
                            </div>
                        </div>
                    </div>

                    <div class="form-group {% if form.website.error == true %}has-error{% endif %}">
                        <label for="website">Website</label>
                        <input type="text" name="website" id="street" class="form-control " placeholder="" value="{{ form.website.value }}" tabindex="10">
                    </div>

                    <div class="form-group {% if form.phone.error == true %}has-error{% endif %}">
                        <label for="phone">Phone</label>
                        <input type="text" id="phone" name="phone" class="form-control" value="{{ form.phone.value }}" tabindex="11">
                    </div>

                    <div class="well">

                        {% if systemInfo.settings.disclaimer != null %}

                            {{ systemInfo.settings.disclaimer|raw }}
                            <div class="checkbox">
                                <label>
                                    <input name="consent" id="consent" type="checkbox" value="" required>I agree with the data privacy terms.
                                </label>
                            </div>

                        {% endif %}


                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group {% if form.email_1.error == true %}has-error{% endif %}">
                                <label for="email_1">Primary E-mail</label>
                                <input type="email" name="email_1" id="email_1" class="form-control " placeholder="" value="{{ form.email_1.value }}" tabindex="12" data-error="This e-mail address is invalid" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group {% if form.email_2.error == true %}has-error{% endif %}">
                                <label for="e-mail_2">Secondary E-mail</label>
                                <input type="email" name="email_2" id="email_2" class="form-control " placeholder="" value="{{ form.email_2.value }}" tabindex="13" data-error="This e-mail address is invalid">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group {% if form.password.error == true %}has-error{% endif %}">
                                <label for="comments">Comments:</label>
                                <textarea class="form-control" rows="4" maxlength="300" id="comments" name="comments"></textarea>
                            </div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-success">Sign up</button>

                    <hr style="margin-top:10px;margin-bottom:10px;" >

                    <div class="form-group">


                    </div>
                </form>
            </div>
        </div>



<script>
    $('#myForm').validator();
</script>


{% endblock %}