{% extends 'base.html.twig' %}

{% block mainPanel %}

    <!-- elFinder CSS (REQUIRED) -->
    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/assets/elFinder-2.1.14/css/elfinder.min.css">
    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/assets/elFinder-2.1.14/css/theme.css">

    <div class="panel-group">
    <div class="panel panel-primary">
    <div class="panel-heading"><strong>Member's Area: Documents</strong></div>

    {% if validMembershipFound or user_role == 'ROLE_ADMIN' %}

        <div class="panel-body" id="elfinder"></div>

    {% else %}

        <div class="panel-body">
        <div class="row">
           <div class="col-xs-12 col-md-12">
               <div class="alert alert-danger">
                   <p class="text-center">You do not have permission to access this area. You are either not a member or your membership(s) has/have expired.</p>
                   <p class="text-center"><a href="{{ path_for('homeUser')}}">Return to main page</a></p>
               </div>
           </div>
        </div>
        </div>
    {% endif %}

    </div>
    </div>


    <!-- elFinder JS (REQUIRED) -->
    <script src="{{ baseUrl }}/assets/elFinder-2.1.14/js/elfinder.min.js"></script>

    <!-- GoogleDocs Quicklook plugin for GoogleDrive Volume (OPTIONAL) -->
    <!--<script src="js/extras/quicklook.googledocs.js"></script>-->

    <!-- elFinder translation (OPTIONAL) -->
    <!--<script src="js/i18n/elfinder.ru.js"></script>-->

    <!-- elFinder initialization (REQUIRED) -->
    <script type="text/javascript" charset="utf-8">
        // Documentation for client options:
        // https://github.com/Studio-42/elFinder/wiki/Client-configuration-options
        $(document).ready(function() {
            $('#elfinder').elfinder({
                url : '{{ path_for('elFinderConnector')}}',  // connector URL (REQUIRED)
                defaultView : 'list'
                // , lang: 'ru'                    // language (OPTIONAL)
            });
        });
    </script>

{% endblock %}
